[2016-08-24 12:44] tleunen opened #1 "Output chart misaligned with the MacOS terminal"
With Node 6.4, with zsh and the default macos terminal. Funny enough (or not), I don't have the issue with hyperterm (also with zsh).

<img width="938" alt="screen shot 2016-08-24 at 8 37 39 am" src="https://cloud.githubusercontent.com/assets/1972567/17930814/1d6a8994-69d6-11e6-91c3-f3acb477e12a.png">

[2016-08-25 13:24] hemanth opened #3 "TracingStartedInPage event not found."
Just noticed:

[code]

Looks like it's something to do with [user-timings](https://github.com/GoogleChrome/lighthouse/blob/c87fab5f1fb2aa0daba1c949c564dc62b61c9faa/lighthouse-core/audits/user-timings.js#L64)

[2016-08-27 04:00] paulirish commented on #1
ouch, bummer. I imagine then that the https://github.com/andrewjstone/cli-chart module would be generaly failing for you.

[2016-08-29 18:09] paulirish commented on #3
Filed https://github.com/GoogleChrome/lighthouse/issues/617 upstream to tackle part of this.

Interesting that you get the start_msg_loop log, but that's a bug on the devtools side we need to sort out.
Did you have any results at all on this run?

[2016-08-30 00:31] hemanth commented on #3
[code]

![image](https://cloud.githubusercontent.com/assets/18315/18071921/1976eb8e-6e77-11e6-8d8c-7893971fd5af.png)

From [nmow](https://nmotw.in/pwmetrics/) ;)

[2016-10-11 19:33] samccone opened #4 "with no url a bad error is printed"
![image](https://cloud.githubusercontent.com/assets/883126/19285481/e241f47a-8fae-11e6-94ac-eead435ea4d2.png)

[2016-10-11 19:33] samccone opened #5 "perf.example-custom path is non-existant"
`Error: Cannot find module 'lighthouse/lighthouse-core/config/perf.example-custom.json'`

When patched to drop example-custom all is well

[2016-10-13 06:20] #5 closed

[2016-10-13 06:20] paulirish commented on #5
thx

[2016-10-13 06:42] #4 closed

[2016-10-16 13:47] paulirish commented on #1
ive reproduced this too. default terminal has problems with cli-chart
but hyperterm and iterm2 are fine.

i dont know.. :/

in the future i think we'll have to replace cli-chart.

[2016-10-16 21:50] amedina opened #8 "Cannot find module 'lighthouse/lighthouse-core/config/perf.example-custom.json'"
$ node --version
`v6.5.0`

$ npm --version
`3.10.3`

$ pwmetrics https://airhorner.com
[code]

[2016-10-17 09:36] samccone commented on #8
if you pull from master this is fixed :) @paulirish just needs to cut a new release

[2016-10-17 09:36] #8 closed

[2016-10-20 12:53] franklinjavier opened #9 "Error: No Chrome Installations Found"
Hi Paul, i'm facing some issue in initialization.
I have Chrome and Lighthouse installed

[code]

[2016-10-20 12:57] franklinjavier commented on #9
Related https://github.com/GoogleChrome/lighthouse/issues/689

[2016-10-20 12:59] franklinjavier commented on #9
The solution was install the Chrome Canary

[2016-10-23 17:28] paulirish commented on #9
K. Latest version of lighthouse should fix this

[2016-10-23 18:49] franklinjavier commented on #9
🍻

[2016-10-25 06:00] denar90 opened #10 "Add possibility to use it with CI"
I would really like to have some option like `maxTimeSinceNavSrart`, value of which means speed expectation.
Using this option `pwmetrics` might throw some error `Time (ms) since navigation start more then you expected, so improve your page perf`.
This approach could be used for CI.

[2016-11-04 00:51] samccone commented on #9
this will also make this situation a lot better :) https://github.com/GoogleChrome/lighthouse/pull/898

[2016-11-10 11:46] #9 closed

[2016-11-15 14:24] denar90 commented on #10
@paulirish don't you mind if I try to work on it?

[2016-11-18 16:09] samccone commented on #10
:+1:

[2016-11-19 21:47] denar90 opened #12 "Add test"
It will be nice to have some tests. It's a bit hard to check everything after adding changes... Think `mocha` can be used.

[2016-11-23 13:27] denar90 commented on #1
@paulirish @samccone what would you like to replace `cli-chart` with? Do you have anything in mind?

[2016-11-23 16:25] samccone commented on #1
hmm anything really, we looked at the logic a while back and seems pretty straightforward logic wise... So if nothing fits the bill feel to roll a version :)

[2016-11-26 21:09] denar90 commented on #1
I haven't find any better libs for reaching current needs, hence fix might be done in scope of`cli-chart`...

[2016-11-26 21:10] denar90 commented on #12
@paulirish @samccone would you like to have this. I can play with it.

[2016-12-06 21:06] denar90 commented on #1
Some idea came up. What if, instead of showing chart in terminal just draw it in browser.  Nevertheless we are opening it to measure site perf, so at the end of the process we can show some fancy results in same window or something, using d3 for example.

[2016-12-11 21:56] denar90 opened #13 "Local server running feature"
Hey guys, it's me again 😃  To use pwmetrics with CI we should run some server and then run metrics passing current url (e.g. localhost:8080/index.html). What do you think about adding possibility to run server for special file using CLI? I propose smth like
`pwmetrics public/index.html --local`

[2016-12-11 23:30] paulirish commented on #13
wouldn't that be fairly equivalent to the following?

[code]

I'm not crazy about adding an optional static server into pwmetrics as many setups require a slightly more complicated server.

[2016-12-11 23:53] paulirish commented on #12
Yeah i'd be happy to have some proper unit tests.
also i'm comfortable with some refactors to make that happen easier.

[2016-12-11 23:54] paulirish commented on #1
I'm open to using the browser, however it's nice to see this stuff in travis if you're running it there.

[2016-12-12 06:38] denar90 commented on #1
We can show in browser by default and console output for CI. But doing this looks like major change...

[2016-12-12 06:39] denar90 commented on #13
Fair enough. Closing then)

[2016-12-12 06:39] #13 closed

[2017-01-04 10:36] denar90 opened #16 "Add some recipes"
I worked on running PSI with local server ([psi-ngrok](https://github.com/denar90/psi-ngrok)) and build some recipes for grunt and gulp https://github.com/denar90/psi-ngrok/tree/master/recipes. What do you think if we use this way of recipes? It might be helpful for users.

[2017-01-10 10:47] rpkoller opened #22 "No actual value of each bar in the graph is painted"
Hi I ran into an possible issue. I am running `node 7.4.0` installed with homebrew on osx. I've installed `lighthouse@1.4.1` and `pwmetrics@1.2.3` globally with `npm install -g`. When i run either `pwmetrics` or with the `—runs=3` option I get an output like this.

![bildschirmfoto 2017-01-10 um 11 43 42](https://cloud.githubusercontent.com/assets/1665422/21803367/168cb2c0-d72a-11e6-9d77-01c3bd7b0

[2017-01-10 12:01] denar90 commented on #22
@rpkoller thanks for pointing this out. We have fix for it.

[2017-01-10 19:58] #22 closed

[2017-01-11 09:48] motss opened #24 "Timings are undefined when multiple runs are performed."
Just get it installed on macOS Sierra with NPM on Node.js 7.4.0: `npm install -g pwmetrics`.

Performed multiple runs (`pwmetrics http://example.com/ --runs=3`) on any website and get the following error:
[code]

[2017-01-11 10:14] denar90 commented on #24
Hi @motss . Yeah, bug is present in current release. Try to install it like `npm i -g paulirish/pwmetrics`. It will use latest `master`.

In nearest release it will be fixed.

Here's my results using master.
![pwmetrics-master-run-3](https://cloud.githubusercontent.com/assets/6231516/21844401/2b968eb6-d7f7-11e6-99c3-d79c210585fe.png)

Thanks.

[2017-01-12 09:26] denar90 opened #26 "Thoughts/questions about throttling"
I've been thinking, since on localhost we don't have any roundtrips or another delays which can extend time of resources loading, do we have to add some default, e.g. 3G throttling, for measuring?

- It can make it more real, can't it?
- Can we use some devtools API for that?
- Should it be done as part of `lighthouse`?

[2017-01-12 11:57] paulirish commented on #26
lighthouse is already doing network throttling by default.
https://github.com/GoogleChrome/lighthouse/blob/master/lighthouse-core/lib/emulation.js#L44

so we should be seeing that.

lighthouse DOES support cpu throttling, although it's not enabled right now
i'm interested in turning on CPU throttling to 3.5x for all pwmetrics runs.  wanna try that out?

[2017-01-12 12:00] paulirish commented on #24
I've pushed 1.2.4 to npm which should resolve this.

thanks very much for reporting, @motss !

[2017-01-12 12:00] #24 closed

[2017-01-12 12:00] #12 closed

[2017-01-12 12:00] paulirish commented on #3
probably addressed now.

[2017-01-12 12:00] #3 closed

[2017-01-12 12:01] paulirish commented on #16
👍

[2017-01-12 12:11] denar90 commented on #26
I'm eager to work on that.

[2017-01-12 13:36] rpkoller opened #28 "Provide a more meaningful error message in case a tested site is too slow instead of "metric unavailable""
It is probably a naming issue. I've installed version 1.2.4 and ran into something i haven't seen yet afterwards. I occassionally get now that kind of errors on slower sites I test against:

![bildschirmfoto 2017-01-12 um 14 31 49](https://cloud.githubusercontent.com/assets/1665422/21891644/fc7001ac-d8d3-11e6-89d7-ea4351c15c11.png)

![bildschirmfoto 2017-01-12 um 14 31 52](https://cloud.githubuser

[2017-01-12 20:41] denar90 commented on #28
@rpkoller thanks, I faced the same issue measuring https://www.cnet.com/special-reports/jony-ive-talks-about-putting-the-apple-touch-on-the-macbook-pro/ too.

@paulirish should we handle this case in scope of `lighthouse`?

[2017-01-13 03:22] paulirish commented on #26
right now you should be able to pass `{ disableCpuThrottling: false }` through as a flag to Lighthouse then you'll get a 5x slowdown. Either right in our lhOpts or maybe lhOpts.flags... i don't have time to check right now. :)

[2017-01-13 03:25] paulirish commented on #28
yeah. for both it would be helpful to do `lighthouse --save-assets --save-artifacts http://website --output=json > results.json` and zip up everything and file a ticket. we can solve it, but it sounds like something is failing.

also @denar90, we probably should catch rejections coming from lighthouse and handle those. it's possible both cases woulda come in like that.

[2017-01-13 09:55] rpkoller commented on #28
@paulirish problem is those `metric not available` outputs happening not every run. So i am uncertain if i do the suggested line in lighthouse that the sampled data would contain and outline the case. Is there a way to visualize the json output data with pwmetrics beforehand? or is there a way to see if the `metric not available` applies to the sampled json case?  cuz one of the pages having that

[2017-01-13 21:15] denar90 commented on #26
Resolved by https://github.com/paulirish/pwmetrics/commit/10751d3c31d6bb61395585600913d58460096f98

[2017-01-13 21:15] #26 closed

[2017-01-13 22:00] denar90 commented on #28
I've created ticket for Lighthouse. Will keep in touch with guys there.

---

@rpkoller I reproduced this issue with `cnet.com` I mentioned above every time I tried. Hope we can figure smth out about it.

---

@paulirish I found out where it's crashed - https://github.com/GoogleChrome/lighthouse/blob/a7648e7eeef7dce5641147f2bf75725a084e8937/lighthouse-core/audits/first-meaningful-paint.js#L148.
Un

[2017-01-16 22:32] rpkoller opened #31 "pwmetrics is performing only a single round though three rounds were set"
Hi i am running pwmetrics 1.2.4 with lighthouse 1.4.1 on node 7.4 on osx 10.11.6. I am not sure why but somehow `pwmetrics`is only performing a single round of auditing instead of the three which i have set. :/

![bildschirmfoto 2017-01-16 um 23 30 09 2](https://cloud.githubusercontent.com/assets/1665422/22001222/d8f9dfd6-dc43-11e6-8b7f-3ceb5f4b8053.png)
![bildschirmfoto 2017-01-16 um 23 30 09](ht

[2017-01-17 00:26] MickeyKay opened #32 "Feature request: ability to display chart AND metrics errors/warnings"
First off, fantastic project - I love it! Thanks a ton for working on this, and in general for all the great FE work you do.

Secondly, I have a feature request. At present, pwmetrics allows you to either 1. display a performance chart or 2. include expectation metrics and display errors/warnings, however you can't do both: https://github.com/paulirish/pwmetrics/blob/master/lib/index.js#L75. Accor

[2017-01-17 15:08] denar90 opened #34 "Store json results into the file"
Right now we are showing json result directly in console. It will be nice to save them into the file too.
Kinda `pwmetrics http://example.com --json=./pwmetrics-results.json`

[2017-01-17 21:06] denar90 commented on #31
@rpkoller thanks for using latest versions and helping us improve stuff! I'll try to use it with node v7 because with v6 I don't have any problems...  It throws errors like yours but still run exact same number of runs was set.

[2017-01-19 15:47] denar90 opened #35 "Measure bunch of pages"
I think it can be useful to have possibility measure bunch of pages with running one command.
Right now we should do

[code]

I think we should do smth either like
`pwmetrics http://example.com http://example.com/page2 --runs=3`

or use some config property
[code]

[2017-01-21 09:26] MickeyKay opened #36 "Metrics are not normalized"
Metrics are normalized when running pwmetrics through CLI, however they are not when pwmetrics is required as a module. The `get_config()` method in `expectations.js` makes the following two calls:
[code]

This turns metrics like `>=500` (this is what is documented in the readme, both for `package.json` as well as directly passing options to the constructor), into basic integers by stripping the `

[2017-01-23 07:27] denar90 commented on #36
It has to be fixed before releasing sheets stuff.

[2017-01-24 01:58] paulirish commented on #35
i guess it depends on the usecase.

if you want to measure a BUNCH then you probably want to save the results as JSON or submit all to sheets?

dunno if you'd want to do a bunch of diff URLs and view the charts in the CLI.

[2017-01-24 01:58] paulirish commented on #34
how about `pwmetrics http://example.com --json > pwmetrics-results.json` ?

[2017-01-25 00:03] davidosomething opened #39 "InvalidProtoExpectation"
[code]

and again 2nd run

[code]

[2017-01-25 07:29] denar90 commented on #39
@davidosomething thanks for reporting it. Can you provide us with your operations system name and `pwmetrics` version. Also do you run it in a terminal or something?

[2017-01-25 10:05] denar90 commented on #32
#33 merged

[2017-01-25 10:05] #32 closed

[2017-01-25 11:08] denar90 commented on #36
#37 merged

[2017-01-25 11:08] #36 closed

[2017-01-25 14:33] denar90 commented on #34
SGTM, maybe it's time to use some lib like `yargs` ?

[2017-01-25 19:15] paulirish commented on #39
Thanks. It's an upstream bug in Lighthouse I just filed there: https://github.com/GoogleChrome/lighthouse/issues/1534

[2017-01-25 20:16] davidosomething commented on #39
thanks @paulirish

[2017-01-26 11:35] AmitPatel-BoTreeConsulting opened #41 "SyntaxError: Unexpected token {"
[code]

[2017-01-26 12:08] denar90 commented on #41
Hi @AmitPatel-BoTreeConsulting . Which nodejs version are you using? `pwmetrcis` works with node >= v6.

[2017-01-26 12:21] denar90 commented on #31
@rpkoller I've tested with node `7.4.0` and osx `10.11.5`. `pwmetrics http://climbingflex.com --runs=3` works fine.
Did you close browser while metrics were getting or smth? Can you check it one more time?
Maybe it's happening because metrics were not available...

[2017-01-26 12:37] rpkoller commented on #31
@denar90 I've reran the test. Aa far as i can remember there hasn't been any update to pwmetrics since last time i've tried but oddly it is working now?!

![bildschirmfoto 2017-01-26 um 13 33 02](https://cloud.githubusercontent.com/assets/1665422/22331491/03043224-e3cc-11e6-83a0-7806d5e857d3.png)

Chrome was closed completely the last time and it was this time. each run a new window instance was o

[2017-01-26 14:19] denar90 commented on #31
Thanks for rechecking it 👍  We didn't have release yeat after `1.4.1`, but master is far far away from this one. Taking a look at readme you can notice that.

Looks like some glitch but it will be nice to have couple tries to be confident in that.

---
We doesn't have any `debug` mode yet.
I'm using just `node --inspect --debug-brk bin/cli.js`

[2017-01-26 17:32] paulirish commented on #41
Aye. sorry @AmitPatel-BoTreeConsulting, but a more modern node version is required. Node 6 is the current LTS release so we're comfortable deprecating support for <= 5.

[2017-01-26 17:33] paulirish commented on #34
@denar90 yup i'm supportive of adopting yargs to handle all that CLI stuff.. wanna take a go at it?

[2017-01-26 19:52] rpkoller commented on #31
yeah saw that. but i was just thinking out loud. couldn't imagine any other reason that one time the test is only ran once and then three times as given. but yeah will keep on testing.

on a side note, missing metrics can't be the reason that the test was only ran once in contrast to the given rounds. tried again right now an:

![bildschirmfoto 2017-01-26 um 20 47 53](https://cloud.githubuserconte

[2017-01-26 21:03] denar90 commented on #34
Of course, would love to 😃

[2017-01-26 21:07] denar90 commented on #35
Yeap, it's really just for `json` or `sheets` cases. We should postpone this a bit...

I'm just creating issues when smth pops out... 💡

[2017-01-27 01:43] AmitPatel-BoTreeConsulting commented on #41
I was using 5.x. Upgraded to the latest node(7.x) and it works now. Thanks @denar90 and @paulirish

[2017-01-27 01:43] #41 closed

[2017-01-29 22:37] denar90 opened #43 "Add eslint"

[2017-01-30 14:57] pedro93 commented on #28
Any update on this issue? I've come across it a couple of times aswell.

[2017-01-30 15:03] pedro93 opened #44 "Median Run output inconsistent with normal output"
This is a minor issue but might create some confusion for some users.
When running pwametrics with the ```runs``` flag the final median output's labels and data are not in the same order as the rest:

![screen shot 2017-01-30 at 15 00 28](https://cloud.githubusercontent.com/assets/3718654/22427891/da911a08-e6fc-11e6-9738-89f7f60c5097.png)

Notice how the last graph's labels are:
 - Time to Interac

[2017-01-30 15:08] denar90 commented on #28
@pedro93 we are waiting for resolving `lighthouse` issue. I think guys are busy with more priority stuff right now...

[2017-01-30 15:09] denar90 commented on #44
@pedro93 thanks, nice catch 👍  Do you wanna make a PR?

[2017-01-30 15:11] pedro93 commented on #44
Its a very minor change, I can if you want :)

[2017-01-30 15:22] pedro93 opened #45 "Median values not precise"
This may be due to JS's math quirks with doubles and I might just be me nitpicking (if it is I apologize and do close the issue) but I ran pwmetrics on a webpage with 5 runs of which the outputted Time to Interactive metrics were:
 - 2,038
 - 2,026
 - 2,037
 - 2,043
 - 2,037

And a median Time to Interactive of: 2,037

With very simple math:
2,038 + 2,026 + 2,037 + 2,043 + 2,037 = 10,181
10,181 /

[2017-01-30 16:13] pedro93 opened #47 "Reduce output when doing runs"
Consider only outputting the median graph data after all runs conclude.
Reason: Less information outputted to console and less cognitive load for the user.

Personally if I ask pwmetrics to execute a number of times I'm more interested in seeing the median values than any 1 execution.

Instead of displaying the chart of every run, pwmetrics could generate a file (JSON, CSV, whatever) with the data

[2017-01-31 07:41] denar90 commented on #44
Merged #46

[2017-01-31 07:41] #44 closed

[2017-01-31 15:53] pedro93 opened #48 "Config file not working"
I am trying to create a configuration file to use with pwmetrics however it is not being used by the library. I have a file performance-test.config.js that looks like this:
[code]

I'm executing pwmetrics like this:
[code]

I think the issue is with how the [cli](https://github.com/paulirish/pwmetrics/blob/master/bin/cli.js) reads the options from the command line. Is there an option to override e

[2017-01-31 21:15] denar90 commented on #48
Do you use latest version (1.2.4) or master? API you wanna use is in master branch and it hasn't been release yet.

---
Tips:
 - use `npm i paulirish/pwmetrics --save-dev` (until we release new awesome stuff)
 - use API for modules described in doc - https://github.com/paulirish/pwmetrics#api instead of executing cli.

E.g.
`my_module.js`
[code]

`perfConfig.js`
[code]

[2017-01-31 21:44] pedro93 commented on #48
Thank you for the reply!

I will try it out tomorrow and report back but my use case requires that I use the cli version because I want to create a child process for running pwmetrics (in essence I want to deploy an express server and run pwmetrics on it, all in one go).

If this is not possible with the cli, I'll try the library and create an external script which I'll call from my cp.exec call t

[2017-02-02 18:29] paulirish commented on #47
Yup i support doing something different here.

Minimal visual output seems good to me.

[2017-02-02 18:30] paulirish commented on #45
you're calculating an average. i've selected the median. two different things. :)

[2017-02-02 20:22] pedro93 commented on #45
You're right! Thanks for explaining :)
I'll close this.

[2017-02-02 20:22] #45 closed

[2017-02-02 20:24] pedro93 commented on #47
Do you have any suggestions? I can make a PR that would save a json or csv with the intermediate runs.

[2017-02-03 08:55] denar90 commented on #47
We have related issue here https://github.com/paulirish/pwmetrics/issues/34
I'm ok for now just reducing number of graphics which will be shown.

[2017-02-03 09:28] denar90 opened #49 "Share results with timeline viewer"
Thought:
1. Submit results from lighthouse into gist/gdrive/whatever
2. Share it with [timeline viewer](https://github.com/ChromeDevTools/timeline-viewer)

I dunno if it has to be a part of `pwmetrics`, maybe `lighthouse`

@paulirish thoughts?

[2017-02-03 12:07] pedro93 commented on #34
@denar90 would you like some help to add yargs to the project?

[2017-02-03 23:42] denar90 commented on #34
@pedro93 I've done some work on this. So you can create PR if there smth to improve.
Thanks :)

[2017-02-06 20:42] denar90 opened #52 "Add some of features from pwmetrics-helper"
Right now `pwmetrics` can do more then [pwmetrics-helper](https://github.com/addyosmani/pwmetrics-helper), to have one place to manage progressive web metrics I propose to add some missed features  (get `desiredMetric `) which `pwmetrics-helper` has and propose @addyosmani to deprecate it.

[2017-02-07 14:07] pedro93 opened #53 "Remove duplicated pwmetrics object properties and merging yargs support"
Whilst reading through the project I noticed the [pwmetrics object](https://github.com/paulirish/pwmetrics/blob/master/lib/index.js#L22) contains a property ```opts``` which is not used anywhere else, and will in fact duplicate the object size in memory.

If you agree @paulirish I would like to do a code cleanup for this and some other minor fixes across files including adding the [yargs PR](https

[2017-02-07 14:13] denar90 commented on #53
SGTM
just one question about #48
What exactly do you wanna improve? Passing `flags` from confg file?

[2017-02-07 14:22] pedro93 commented on #53
I was thinking of populating the pwmetrics object with the properties from the config file in case one exists. If there are repeated parameters both in a config file and from the cmd line, then the cmd line should take precedent.
Imagine something like:

performance.config.js
[code]

Bash
[code]

The json option in the terminal overrides the config option. A use case for this would be wanting to s

[2017-02-07 14:31] denar90 commented on #53
Oh, got your point. Make sense.
Lets do it 💪  I'm ok to make it in scope of yargs PR. Jut make PR against `yargs` branch, so I'll merge it together.

[2017-02-07 15:26] pedro93 commented on #53
@paulirish do you approve? If so I will start working on this. I do have a question though, what is the rationale behind this loop?
https://github.com/paulirish/pwmetrics/blob/master/bin/cli.js#L24

[2017-02-07 16:06] denar90 commented on #53
It's redundant from old API. Going with your suggestion we can do smth like
`config.flags = Object.assign({}, flagsFromFile, cliFlags)`

On Feb 7, 2017 5:26 PM, "Pedro Silva" <notifications@github.com> wrote:

[2017-02-08 11:15] denar90 opened #55 "Release 2.0"
- [x] TypeScript usage. Will help us to reduce number of tests and make lib more reliable.
 - [x] Yargs - https://github.com/paulirish/pwmetrics/pull/51
 - [x] metricsDefinitions - https://github.com/paulirish/pwmetrics/pull/50 (after Lighthouse release)
 - [x] Handle CRI_TIMEOUT error - https://github.com/paulirish/pwmetrics/pull/42
 - [x] test sheets functionality - https://github.com/paulirish/

[2017-02-08 15:26] pedro93 commented on #55
Yargs related tests.
Configuration file parameter validation.

There are also inconsistencies in the README about how to use the config file and certain flags uses. @denar90 if you would like I can talk to you over slack or something and explain.

[2017-02-10 08:09] pedro93 commented on #52
I agree especially after https://github.com/paulirish/pwmetrics/pull/51 merges.

[2017-02-11 21:22] denar90 commented on #55
updated priority

[2017-02-14 04:26] #34 closed

[2017-02-14 22:22] paulirish commented on #53
I suppose this is done, now that we have our combined refactor in place? :)

Pedro, feel free to reopen if we got more here!

[2017-02-14 22:22] #53 closed

[2017-02-14 22:24] paulirish commented on #49
Yup love this general idea. :)

Timelines are like 5-100mb so i dont think gist will work. but gdrive should be fine.

[2017-02-22 18:24] shellscape commented on #1
Is there any stop-gap so folks using terminal can see properly formatted output on MacOS?

[2017-02-22 21:26] denar90 commented on #1
Sorry, we didn't have time to look at this one. @shellscape are you interested to help us?

[2017-02-22 23:00] shellscape commented on #1
I could take a look at this early next week. I'm presently slammed.

[2017-02-23 05:06] paulirish commented on #1
Cheers. We've since forked the chart module to be local, so we can make whatever changes we like.
Happy for someone to take a look!

[2017-02-25 23:49] denar90 opened #63 "CI issue after updating lighthouse version"
We have issue on CI after finishing measurements.
https://travis-ci.org/paulirish/pwmetrics/jobs/204950872#L722-L735

So I found that it's related to killing launched chrome.
Everything is fine if we don't kill it.

Here is my commit with changes.
I've removed all logic related to charts and stuff.

Diff - https://github.com/paulirish/pwmetrics/compare/master...denar90:dont-kill-chrome
CI - https:

[2017-02-26 00:01] denar90 commented on #49
👍
I hope we can reuse outh stuff which we already have :)

[2017-02-26 00:06] denar90 commented on #52
So we should just add `desiredMetric` feature.
Should we draw chart?
Should we check expectations if `expectations` flag and `desiredMetric` are set? (personally 👍)

[2017-02-26 00:08] denar90 commented on #47
Looks like solved.

[2017-02-26 00:08] #47 closed

[2017-02-26 00:09] denar90 commented on #48
@pedro93 feel free to reopen it.

[2017-02-26 00:09] #48 closed

[2017-02-26 00:11] denar90 commented on #35
Lets close it.

[2017-02-26 00:11] #35 closed

[2017-02-26 00:12] denar90 commented on #16
Solved by #40

[2017-02-26 00:12] #16 closed

[2017-02-26 00:21] denar90 commented on #31
@rpkoller can you test with latest master?
Looks like issue was solved...

I tried same site as above with 5 runs. Looks good.

[2017-02-26 02:19] rpkoller commented on #31
@denar90 hm never installed a master from github with npm yet. `pwmetrics`i had installed globally with npm so far. now i've just created a directory and just tried `npm install --save https://github.com/paulirish/pwmetrics/tarball/master`from within that directory.  is that the correct way? cuz the version shows `1.2.4` would have expected 2.0? sorry for that probably trivial question. :/  gotta

[2017-02-26 02:59] paulirish commented on #63
FWIW this looks like the changes in chromelauncher between 1.4.1 and 1.5.1:

![image](https://cloud.githubusercontent.com/assets/39191/23336690/a2abd4ae-fb8b-11e6-8abb-ebf45160e4ac.png)

nothing looks particularly relevant. there was some protection added so lighthouse doesnt launch multiple chrome processes.

lighthouse also throws more errors during runtime for various reasons, but this seems to

[2017-02-26 08:46] denar90 commented on #31
I would use `npm i --save paulirish/pwmetrics` which bring latest changes from master.
`pwmetrics --version` will bring `1.2.4` because in package.json set this version. V 2.0 is not released yet.

[2017-02-26 09:03] denar90 commented on #63
Yeap nothing what could break stuff...
So, it's problem somewhere in our code...
I thought maybe smth wrong with travis setup but no...
Pure lighthouse works fine
https://github.com/paulirish/pwmetrics/compare/master...denar90:try-lighthouse-with-ci
https://travis-ci.org/denar90/pwmetrics/jobs/205463498

Will dig into this stuff. Maybe we run chrome with wrong params, but no, maybe something else.

[2017-02-26 10:52] rpkoller commented on #31
@denart90 uh damn there seem some node 7.6 issues.yesterday nights install returned

[code]

on `./pwmetrics https://www.w3.org`. thought it was due to the faulty way of installing. but did now like you said and replaced my current global pwmetrics install with the latest master with `npm install -g --save paulirish/pwmetrics. when i tried `pwmetrics --version` afterwards to see if it is showing 2

[2017-02-26 12:17] denar90 commented on #31
@rpkoller we are trying to migrate to typescript. So, to make it works in `node_modules/pwmetrics` just run `npm run build`.
Sorry, forgot to tell you about this.

[2017-02-26 12:34] rpkoller commented on #31
@denar90 no problem at all. :) but two followup question. I have installed pwmetrics globally with `npm install -g --save paulirish/pwmetrics` do i also have to run `npm run build`and add `-g` so it becomes `npm run -g build` ... and where do i have to run that command? in the specific directory or is it applied to all installed npm packages and it is checked if a certain package needs building? a

[2017-02-26 12:47] pedro93 commented on #31
@rpkoller first check that in your node_module's folder you have the pwmetrics project. If you do run the following command in that folder:
[code]

If you don't have that pwmetrics folder, try and find the path where you global node packages are installed by running: ``` npm root -g ``` and running ```  npm run build ``` on the pwmetrics in that location

[2017-02-26 12:58] rpkoller commented on #31
@pedro93 thanks. am not that npm savvy and still learning things. already found my way to the particular directory manually. but the `npm root-g`recommendation would have saved a bit of digging ;)))) went into the directory and ran `npm run build`... But again an error showed up :/

[code]

maybe cuz it is still showing version 1.2.4 `pwmetrics@1.2.4 (git://github.com/paulirish/pwmetrics.git#2f5a9

[2017-02-26 13:11] pedro93 commented on #31
You learn something every day :D

The pwmetrics version is correct, it's what's specified here: https://github.com/paulirish/pwmetrics/blob/master/package.json. It looks like the typescript dependency is not installed when you call npm install ...

If you check the package json I linked too, typescript is set as dev dependency. Delete the pwmetrics folder and re-run the npm install but with the --

[2017-02-26 13:25] denar90 commented on #31
The way I'm working with library.
Cloning repo `git clone https://github.com/paulirish/pwmetrics && cd pwmetrics`
then run either `yarn` or `npm i`
then `npm link`
Now on your machine latest master changes which are globally.

After next `git pull` run `npm i && npm link`. That's it :)

[2017-02-26 13:51] rpkoller commented on #31
@pedro93 ahhhh the version number is pulled from the package.json when i do a list of installed npm packages. cool and went then with the variant @denar90 is describing. one follow up question in that regard @denar90 . I haven't deleted the global package but followed his instructions. then i ran pwmetrics with 5 runs. i got the following output:

![bildschirmfoto 2017-02-26 um 14 49 01](https://c

[2017-02-26 13:57] denar90 commented on #31
@rpkoller it's a feature that for median run only one graph is shown 😉
I'm seeing on a screenshot that you've got `InvalidProtoExpectation` error. We already have reported issue for this - https://github.com/paulirish/pwmetrics/issues/39

@rpkoller thanks one more time for digging into this issue with us 👍
Can we close current one? Looks like it's solved.

[2017-02-26 14:04] rpkoller commented on #31
yep the initial issue seems to be fixed now 👍thx! and regarding `InvalidProtoExpectation` i noticed issue #39 already but thought it might be a different case, but then i noticed that it is still open so not fixed upstream ;)

and @denar90 one last question regarding your workflow with `git` `npm i` and `npm link`. when i am done with it and wanna delete that testing folder and revert back to my g

[2017-02-26 14:09] rpkoller opened #64 "Add a more descriptive output for the runs."
At the moment if you are running an audit with more than one run you only get the generic line `Launching Chrome`:

![bildschirmfoto 2017-02-26 um 14 49 01](https://cloud.githubusercontent.com/assets/1665422/23340366/1eeb465e-fc35-11e6-9bf8-c9b9977c228f.png)

In my opinion it would be more descriptive and helpful if the output would say something like `Run 1 out of 5 is finished successfully` and

[2017-02-26 16:11] denar90 commented on #31
I suppose you can do smth like `npm i -g pwmetrics` it has to be enough to use latest version published on npm.

[2017-02-26 16:11] #31 closed

[2017-02-26 22:01] paulirish commented on #31
@denar90 since we now have typescript in the mix, we'll need to make sure the gsheets.js is in the published npm module. i bet it was excluded since npmignore inherits from gitignore.

[2017-02-26 22:02] paulirish commented on #31
yeah. https://github.com/paulirish/pwmetrics/blob/master/.npmignore#L11 excludes that file. we should nuke that line and republish. ;)

[2017-02-27 08:08] denar90 commented on #31
agree, but don't publish until we solve stuff for #55.
Another thing, that current npm published version is far behind from current master...

[2017-02-27 12:30] pedro93 opened #65 "Cleaner error messaging when using invalid parameters"
Just a note, when running the cli tool with invalid parameters a cleaner output should be shown:

![screen shot 2017-02-27 at 12 29 14](https://cloud.githubusercontent.com/assets/3718654/23361432/8c4849dc-fce8-11e6-867d-0b91ccebf4ca.png)

This happens because we have no try catch block to handle this exception. We can fix this by doing the following In the [cli.js file test section](https://github

[2017-02-27 13:05] pedro93 commented on #55
We have promise chains without catch blocks which leads to hidden error messages. These should be cleaned up for a better error processing and logging.

E.g: If we catch an error [here](https://github.com/paulirish/pwmetrics/blob/master/lib/index.js#L133), we will not have access to a correct stack trace:

![screen shot 2017-02-27 at 13 04 36](https://cloud.githubusercontent.com/assets/3718654/233

[2017-02-27 13:35] denar90 commented on #63
I finally caught the bug.
This issue is related to delay between starting and stoping chrome process.
If we have good delay (e.g. 1000 ms) then it works fine.
in lighthouse (lighthouse http://example.com) itself we have really big one (because of all calculations and output stuff) that's why bug doesn't appear on CI, I think.

---

So here we are.

I've added timeout after lighthouse done it's wor

[2017-03-07 08:18] pedro93 commented on #64
@rpkoller @denar90 @paulirish if a run fails should it be re-run to ensure at least n runs successfully occur if a user specifies an average?

[2017-03-07 09:19] pedro93 commented on #63
Any update on this? @paulirish @samccone

[2017-03-07 11:07] pedro93 commented on #52
Just to bring this alive, should we merely add the code from that repo or re-create the functionality in a more integrated manner?  @denar90 @paulirish depending on how strongly you feel, it would require a large code re-write.

[2017-03-07 11:26] denar90 commented on #52
The code which can be reused is just one function :)
https://github.com/addyosmani/pwmetrics-helper/blob/master/index.js#L30-L32

You can easy copy/paste it, add cli flags and stuff.

[2017-03-07 11:55] pedro93 commented on #52
Does it make sense to have a cli flag for this? if so, how should it look? This functionality is is more of an API addition.

[2017-03-07 11:58] denar90 commented on #52
I think `desiredMetric` will be fine. It should be possible to use through cli and API.

[2017-03-07 15:26] pedro93 commented on #52
Should desiredMetric be applied to the median run or all runs, should you only specify one or can you provide a list to run? Also we can do an improvement here that is to tell lighthouse to run the specified audits. As of right now and https://github.com/addyosmani/pwmetrics-helper does this, is to run lighthouse as is right now (with perf audits) and filter the results for only the desired metric

[2017-03-08 10:43] pedro93 commented on #39
@davidosomething Can you check if this bug is still reproducible using the master branch version of pwmetrics?

[2017-03-08 10:46] pedro93 commented on #43
I'm 100% in favor of this. @paulirish @denar90 do either of you have any specific eslint rule files you want to use or shall we use [lighthouse's one](https://github.com/GoogleChrome/lighthouse/blob/master/.eslintrc.js) ?

[2017-03-08 10:47] pedro93 commented on #28
Seeing as this is merged I will close it. Feel free to re-open it something is missing.

[2017-03-08 10:47] #28 closed

[2017-03-08 11:08] pedro93 opened #72 "Pwmetrics fails with pair number of runs"
When asking for an average of n runs (where n is a pair) the program will crash because of the calculations done in the [findMedianRun function](https://github.com/paulirish/pwmetrics/blob/master/lib/index.js#L204).

Specifically what is happening is that the program can not find a TTI timing that is the exact median value of the runs, so it will return a ```undefined``` as the medianRun which gen

[2017-03-08 11:19] rpkoller commented on #64
@pedro93 I would vote against the `Launching Chrome`message. That is the initial key of my suggestion to replace it with a more meaningful line like `Run 1 out of 5 is finished successfully`, so the user is aware that the first round of testing was finished successfully. `Launching Chrome`is a bit abstract and you see that anyway when the app focus switches from the terminal to Chrome. Therefor th

[2017-03-08 11:32] pedro93 commented on #64
@paulirish @denar90 what do you think. I believe this is possible to do in the scope of the existing pull request. The re-run functionality I have to think about how to implement though given the current code structure.

[2017-03-08 13:39] pedro93 commented on #64
@rpkoller I understand your point of view but what about running pwmetrics in a CI system? It is helpful to know what stage of the process pwmetrics is in. I concede though that a static message does not give a lot of information

[2017-03-08 13:51] rpkoller commented on #64
uh i haven't beared the CI case in mind. then you are totally right! sorry... But a suggestion for the output anyway:

[code]
That way it would be more aligned layout wise. and you could places the checkmark and the icon for failed processes easily prepended. and i would maybe add an empty line before the first `launching chrome` line and between the last run line and the  `*median run *` line so

[2017-03-08 14:07] pedro93 commented on #64
@rpkoller I am afraid I don't understand what you mean by "could places the checkmark and the icon for failed processes easily prepended". Could you explain perhaps give an example?

[2017-03-08 15:41] davidosomething commented on #39
using master, yields
**Invalid ProtoExpectation: ignored(4302 4302 undefined) File a bug with this trace!
**

[code]

[code]

[2017-03-08 16:09] paulirish commented on #43
Id be happy to use lighthouses rules

On Mar 8, 2017 2:46 AM, "Pedro Silva" <notifications@github.com> wrote:

[2017-03-08 21:02] denar90 commented on #65
solved by #67

[2017-03-08 21:02] #65 closed

[2017-03-09 01:20] rpkoller commented on #64
@pedro93 slight typo ;) i meant "and you could place the check mark and the icon for failed processes" right before `Run 1: Launching Chrome` in each line. the checkmark like you already do with

![bildschirmfoto 2017-03-09 um 02 14 16 2](https://cloud.githubusercontent.com/assets/1665422/23731598/e41cd58c-046e-11e7-8352-d0d4309ba7cb.png)

and a suggestion for failed processes like github uses:

!

[2017-03-09 08:02] pedro93 commented on #64
If I understood correctly, then answer me this.
The message ```Launching Chrome``` is sent to the console before pwmetrics calls lighthouse, it does not know beforehand if the requested process will finish correctly or not.
How do you propose we prepend the checkmark/error icon before we know the result?

[2017-03-09 09:23] rpkoller commented on #64
@pedro93 good and valid question. impossible so. ;) i was just brainstorming and looked at things from the usability perspective to provide something more descriptive and not from a code level. so forgot my suggestion in regards of the icons please ;)

[2017-03-09 21:23] denar90 commented on #64
merged #70

[2017-03-09 21:23] #64 closed

[2017-03-09 21:32] denar90 commented on #64
@pedro93 @rpkoller thanks guys!

[2017-03-09 23:23] paulirish commented on #72
to pick median run we need to pick SOME metric to sort on. :)

I started with TTI because it's the most composite of the metrics... but rather than that we could just find whatever had the longest value of all metrics all runs. and then use whatever that metric is to sort by.
I'm nearly certain it will always be TTI, normally. but that would make this subsetting more reasonable.

hows that sound?

[2017-03-10 07:16] pedro93 commented on #72
Sounds good to me, with the desiredMetrics PR we may not always have tti metric so it would good to safeguard against it.

Another question, what about when running pwmetrics with say 10 runs?

There will not be a median value to pick from, as an average between the 5th and 6th (sorted) run will be choosen and that value has no match to the actual data retrieved.

[2017-03-10 16:45] paulirish commented on #72
afaik, this case is already handled.

[2017-03-10 17:44] pedro93 commented on #72
Its not because of this line https://github.com/paulirish/pwmetrics/blob/master/lib/index.js#L205

Ignore the unexpected console.logs.

![screen shot 2017-03-10 at 17 42 45](https://cloud.githubusercontent.com/assets/3718654/23806286/05de9854-05b9-11e7-9293-fa90b7c02746.png)

[2017-03-12 20:15] pedro93 commented on #72
@paulirish Any particular way you to want to handle finding the largest metric to sort by? I was thinking we could use the [metricsIds](https://github.com/paulirish/pwmetrics/blob/master/lib/metrics.js#L7) as a sorted (by biggest value) collection.
We could also try some sort of dynamic calculation, not sure how to that atm though.

In relation to even number of runs, we could detect that in the f

[2017-03-13 06:34] paulirish commented on #72
sorry. i wrote a reply somewhere but i guess it was lost. :/

Here's roughly what i'm thinking...

1. for each runResult..
1. get the maximum timing value
1. `const maxWithinRun = Math.max(...result.timings.map(r => r.timing))`
1. see what the max is of all of those across all runs
1. then use the `timing.id` of whatever timing had that maxAcrossRuns
1. then basically do the rest of what `findMedi

[2017-03-13 10:23] pedro93 commented on #72
I came across something interesting that may invalidate this approach. The visually complete 85% metric has the same timing value as TTI. As of yet the

I don't know exactly how these two audits work but is this the expected behaviour?

![screen shot 2017-03-13 at 09 41 02](https://cloud.githubusercontent.com/assets/3718654/23848920/3345b182-07d1-11e7-944b-c8a307aef50b.png)

[2017-03-13 11:15] pedro93 opened #74 "Cannot read property 'ts' of undefined Audit key: first-meaningful-paint."
Not sure if this is an upstream bug, i can not consistently reproduce it.

![screen shot 2017-03-13 at 11 13 52](https://cloud.githubusercontent.com/assets/3718654/23852128/4270b8a2-07de-11e7-8ebb-1d3a60380191.png)

Any thoughts as to what this might be?

[2017-03-13 15:20] denar90 commented on #72
@pedro93 as far as `vc85` one of the indicators for `tti`, I suppose it can happens.

[2017-03-13 15:46] denar90 commented on #74
It's related to https://github.com/GoogleChrome/lighthouse/issues/1253
closing though

[2017-03-13 15:46] #74 closed

[2017-03-13 15:58] pedro93 commented on #72
TIL. I also noticed that ```vc100``` is greater than ```tti``` from what I've seen so far.

[2017-03-13 23:39] paulirish commented on #72
Yeah there's no guarantee on what is first/last between vc100 and tti. Either could be the last thing.

It's also possible for FMP, vc85, vc100 and TTI to all happen at (roughly) the same time. But that'd be atypical. :)

[2017-03-15 11:24] pedro93 commented on #39
As part of the work in progress https://github.com/paulirish/pwmetrics/pull/71 I've been running pwmetrics with the multiple run options and caught this exception.
This bug leads the program into what I assume is an infinite loop with a deadlock (ctrl+c will not work and interrupt the process), eventually leading to the following output:

![screen shot 2017-03-14 at 13 56 54](https://cloud.githubu

[2017-03-15 15:35] pedro93 opened #75 "couldn't find pc offset for node=119"
Possible upstream bug, first time occurence. Can not reproduce.

<img width="1269" alt="screen shot 2017-03-15 at 14 58 18" src="https://cloud.githubusercontent.com/assets/3718654/23954702/ea8fbbfc-098f-11e7-858c-88ef67332d19.png">

[2017-03-16 10:53] pedro93 opened #76 "Entire trace was found to be busy. Audit: Key time-to-interactive"
Upstream bug, reported in lighthouse repo under https://github.com/GoogleChrome/lighthouse/issues/1869.

[2017-03-16 20:52] denar90 commented on #76
Closing this one.

[2017-03-16 20:52] #76 closed

[2017-03-16 21:03] denar90 commented on #75
@pedro93 closing, feel free to reopen.

[2017-03-16 21:03] #75 closed

[2017-03-21 22:22] #52 closed

[2017-03-25 11:05] pedro93 opened #82 "Change CI yarn installation method"
Due to recent changes in one of yarn's npm dependencies, the our CI build broke temporarily, see https://github.com/yarnpkg/yarn/issues/2915.
To prevent this in the future I would suggest we remove the yarn dependency in the project's package.json and modify our [.travis.yml file before install step](https://github.com/paulirish/pwmetrics/blob/master/.travis.yml#L17) to the suggested [linux instal

[2017-03-25 13:16] pedro93 commented on #1
@paulirish @shellscape @denar90 I've been having a crack at this but have been unsuccessful. Whilst we have no better solution or a fix to the chart what to you think about simply outputting text?

We can work with the visual output that [getMessageWithPrefix](https://github.com/paulirish/pwmetrics/blob/master/lib/utils/messages.js#L90) gives us. If a user sets expectations the output is even bett

[2017-03-25 21:55] pedro93 commented on #49
Question, how would this feature work for multiple runs?

[2017-03-25 21:58] denar90 commented on #49
Just store data to gdrive and open timeline viewer for each run.

[2017-03-25 22:00] denar90 commented on #82
I dunno, but using yarn `0.22.0` help - https://github.com/paulirish/pwmetrics/pull/79/files#diff-354f30a63fb0907d4ad57269548329e3R17

[2017-03-25 22:09] pedro93 commented on #82
I noticed, I wonder if it wouldn't be better to use the recommended yarn install method via Linux repositories and bash commands.

[2017-03-28 07:11] pedro93 commented on #43
Since we added and merged eslint rules in https://github.com/paulirish/pwmetrics/pull/73 im closing this, feel free to reopen.

[2017-03-28 07:11] #43 closed

[2017-03-28 08:05] pedro93 commented on #82
Closing this as https://github.com/paulirish/pwmetrics/pull/79 has been merged. If yarn related installation problems occur again lets refer back to the https://github.com/paulirish/pwmetrics/issues/82#issue-216967014 solution

[2017-03-28 08:05] #82 closed

[2017-03-29 09:54] pedro93 opened #85 "pwmetrics closes if run fails"
When setting pwmetrics to test an URL n number of times, if any fails the process will shutdown if it can, otherwise the process will hang and not progress any further.

__Software__:
Chrome Canary: 59.0.3054.0 64bits
Node: v7.7.3 64 bits
OS: Mac OS X: 10.11.6
Lighthouse: 1.6.0 (as defined in the package.json)

__To reproduce__:
I'm using pwmetrics from the master branch
[code]

__Output__:
<img w

[2017-03-31 00:29] #49 closed

[2017-03-31 11:13] pedro93 commented on #85
@paulirish @denar90 I can fix this problem but I need to make a decision. What should happen if a test fails? Should it be retried? This guarantees that if a user request say 10 runs, it will mean 10 successfully executed runs, if any error happens we shall retry.

[2017-03-31 19:58] #72 closed

[2017-03-31 20:05] denar90 commented on #85
Solved by #86

[2017-03-31 20:05] #85 closed

[2017-04-03 06:35] Bubbit opened #88 "Process.exit"
What is the reason process.exit() is required at the end of the run? https://github.com/paulirish/pwmetrics/blob/master/recipes/gulp/gulpfile.js#L48
I'm trying to integrate pwmetrics as part of my CI-chain, but currently the only solution is to spawn it in a different process.

[2017-04-03 08:39] denar90 commented on #88
We just wanted to and gulp task after `pwmetrics` finished it's job. But you can solve this case in other way, due to needs of your CI and gulp process.

[2017-04-03 08:45] Bubbit commented on #88
I'm trying to figure out which process isn't exiting properly as it should finish without me having to call a process.exit. I don't want to fix it by spawning a child process, but it's currently the only solution

[2017-04-03 09:02] denar90 commented on #88
Does it exit correctly without `pwmetrics` ? Wanna figure out if problem caused by us.

[2017-04-03 09:03] Bubbit commented on #88
Yes it does exit correctly.

[2017-04-03 09:04] denar90 commented on #88
Can you share code, plz?

[2017-04-03 09:13] Bubbit commented on #88
https://github.com/Bubbit/pwmetrics/blob/master/recipes/gulp/gulpfile.js

Doesn't close properly

[2017-04-03 09:22] denar90 commented on #88
ok, I'll look at it but a bit later...

[2017-04-03 10:26] pedro93 commented on #88
Hello @Bubbit thank you for posting this issue.

I will have a look to try when I have more time and understand why, I am not sure if this is because of ```pwmetrics``` or because of ```lighthouse```.
In the meantime I would suggest using ```child_process``` like so:

https://gist.github.com/pedro93/efb78fd310b1d1dcda656ad4aaabf413

Basically:
1.) Setup a local web server.
2.) Execute pwmetrics as

[2017-04-03 13:44] pedro93 commented on #88
@Bubbit @denar90 After digging around a little I found no particular reason why pwmetrics would maintain the process live. I checked in lighthouse and noticed the same happening: https://github.com/GoogleChrome/lighthouse/tree/master/docs/recipes/gulp

@Bubbit May I suggest you ask about ```process.exit(0)``` in the lighthouse repository? You can link back to this issue as needed.

I will close th

[2017-04-03 13:44] #88 closed

[2017-04-04 12:40] Bubbit commented on #88
I filled the issue at the lighthouse repository, but it's not due to lighthouse.

So I went back and did some more investigation, the process doesn't exit due to the chart output.
I'm using the default macos terminal, so I don't know if it's due to that or not.

For now my problem is fixed as I'll just pass the json output value, but I don't think this is intended.
But I have prepared a pull reque

[2017-04-04 13:01] pedro93 commented on #88
@Bubbit thank for the investigation. I've tried it in my local version and it seems to work well. I will accept the request and then close this issue. Quick question, did you see a correct visual graph using the macos default terminal?

[2017-04-04 13:10] Bubbit commented on #88
@pedro93 Sadly no, still the same as https://github.com/paulirish/pwmetrics/issues/1

[2017-04-04 13:30] pedro93 commented on #88
Solved via https://github.com/paulirish/pwmetrics/pull/89. @Bubbit if you have anything more to say with regards to the chart or do find something please use the https://github.com/paulirish/pwmetrics/issues/1 issue. Thank you very much for your help 👍

[2017-04-09 20:40] denar90 commented on #55
So, the status.
We are about to finish stuff for v2 🎉

In a next few days I'll work on docs, improving it and test all stuff. @pedro93 wanna help me in testing?

----

@paulirish @samccone @pedro93 I prepared some draft [article](https://medium.com/@denar90/easy-progressive-web-metrics-9afa5ed857c2) about `pwmetrics` and it's features, which might help people use it. I'd be glad to hear your thoug

[2017-04-10 08:07] pedro93 commented on #55
Sure @denar90, just need a quick rundown of the use cases and i'll start to have a look.

[2017-04-10 09:18] pedro93 opened #93 "Safeguard against 0 non-error run"
Make sure there is atleast 1 valid run when calling medianRun, see image below. I'll make a quick pull request for this.

![screen shot 2017-04-10 at 10 17 22](https://cloud.githubusercontent.com/assets/3718654/24854608/ffbc5566-1dd6-11e7-9250-803a13bb882f.png)

[2017-04-11 12:57] denar90 commented on #93
Solved by #94

[2017-04-11 12:57] #93 closed

[2017-04-12 16:45] pedro93 commented on #63
@denar90 can we close this issue or is there anything else we can do?

[2017-04-12 22:28] denar90 commented on #63
It's an important one because we can't run `pwmetrics` on CI, so other people might face same issue...

[2017-04-14 09:12] #63 closed

[2017-04-17 21:22] denar90 commented on #55
@paulirish let's roll this out 🚀

p.s. will be good to add some topics for repo) nice extensions for chrome - https://github.com/yavorsky/auto-github-topics

[2017-04-17 21:43] pedro93 commented on #55
Let's do it! :+1:

[2017-04-19 15:14] mathiasbynens opened #99 "First Contentful Paint: NaN"
With pwmetrics@1.2.4:

[code]

I haven’t looked into what’s causing this, but it seems to be an issue with `pwmetrics` itself, since `lighthouse` handles the same URL just fine.

<details>

[code]

</details>

[2017-04-19 15:29] denar90 commented on #99
@mathiasbynens hi. Thanks for pointing this out. Can I ask you try the latest master (`npm i -g paulirish/pwmetrics`). I'm not sure about `1.2.4` because we went far far from it in master...

[2017-04-19 15:39] mathiasbynens commented on #99
$ npm i -g paulirish/pwmetrics

$ pwmetrics https://mathiasbynens.be/
module.js:471
    throw err;
    ^

Error: Cannot find module '../lib/index'
    at Function.Module._resolveFilename (module.js:469:15)
    at Function.Module._load (module.js:417:25)
    at Module.require (module.js:497:17)
    at require (internal/module.js:20:19)
    at Object.<anonymous> (~/.nvm/versions/node/v6.9.1/lib/node

[2017-04-19 15:44] denar90 commented on #99
Looks like `ts` files were not built during install from master. We decided not to store built files in repo, just on npm. So yeah, `npm i -g paulirish/pwmetrics` will not help.
@mathiasbynens if you go into installed repo and run `npm run build`, everything should work as expected. Sorry for this kind of pain :(
We are ready for publishing v2, so I ping @paulirish for publishing it.

[2017-04-19 15:46] mathiasbynens commented on #99
I actually tried a fresh clone, and then `npm i && npm run build`, but that failed too:

[code]

No time to look into it any further right now so I’ll just wait for v2 :)

[2017-04-19 15:48] denar90 commented on #99
Thx, I'll look at it later today.

[2017-04-19 17:08] pedro93 commented on #99
@mathiasbynens thank you for posting this problem. Could you provide us with your software's specs? Version of Node & NPM, Chrome and what terminal you're using?

[2017-04-19 17:21] mathiasbynens commented on #99
[code]

I’m using iTerm2.app but that shouldn’t matter.

[2017-04-19 17:25] pedro93 commented on #99
Could you update NodeJS to latest and retry? With the update to typescript we started using asyncs and awaits which may be the reason it's a problem.

[2017-04-19 17:28] mathiasbynens commented on #99
Done. Same problem with Node.js v7.8.0 and npm v4.2.0.

[2017-04-19 17:35] pedro93 commented on #99
It is strange that neither I nor @denar90 came across this bug before. I'm currently not in a position to investigate this further until late next week but I think it is an upstream missing feature see https://github.com/DefinitelyTyped/DefinitelyTyped/issues/13508 for more info.

[2017-04-19 18:29] elzii commented on #99
I can confirm having the same issue as @pedro93.

Running node v7.1.0 and npm v4.0.5

However, cloning the repo and installing/building with yarn seems to work. Steps taken after cloning:

* `yarn`
* `yarn prepublish`
* `yarn build`

[2017-04-19 19:56] paulirish commented on #55
because of @samccone's very nice [tweet](https://twitter.com/samccone/status/854712077436436480) i hustled out a 1.3.1 release that's effectively our 2.0.

it includes a bump to lighthouse and various fixes for that. check https://github.com/paulirish/pwmetrics/commits/master to see them.
afaik it wont have the missing typescript file problems that we have with installing from github.

apologies f

[2017-04-19 20:04] paulirish opened #101 "Type 'Socket' cannot be converted to type 'TermWritableStream'."
[code]

This manifests in typescript 2.2.2 but wasn't a problem in 2.0.2 (which is what our package.json includes).

yarn vs npm lol

as our types.ts mentions, the upstream issue appears to be https://github.com/DefinitelyTyped/DefinitelyTyped/issues/13508

[2017-04-19 20:05] paulirish commented on #99
the initial issue is fixed in pwmetrics 1.3.1, now out.

i forked the typescript issue into https://github.com/paulirish/pwmetrics/issues/101

yarn ftw, i guess.

cheers guys.

[2017-04-19 20:05] #99 closed

[2017-04-19 20:11] exogen commented on #1
I did some debugging and it appears that `push()` and `pop()` from `charm` just don't work on this terminal. The cursor will still be positioned at the last move/write even after calling `pop()`. I'm not sure what the actual lower level fix is, but it's not too difficult to work around this in `lib/chart` by just using the various positioning commands to navigate back to the origin (or wherever) i

[2017-04-19 20:20] exogen commented on #1
Update: Changing them all to `push(true)` and `pop(true)` appears to fix it. The parameter is `withAttributes`, which I don't fully understand, but it works. Will have to make sure this doesn't break other terminals.

![screen shot 2017-04-19 at 1 18 58 pm](https://cloud.githubusercontent.com/assets/53522/25200388/fccf274c-2502-11e7-9782-abc841e6437c.png)

[2017-04-19 21:44] paulirish commented on #55
@denar90 btw i'm happy to rebump this release as 2.0. i just was doing the fast thing to handle today's traffic. :)

also remind me to tweet out your article!

[2017-04-19 21:52] denar90 commented on #55
Yeap, Sam made us react quickly :)
Paul, can you wait about 30 min, I'll manually recheck PR -
 https://github.com/paulirish/pwmetrics/pull/102 so maybe we can land this fix too.
P.S. I've published article about our possibilities https://twitter.com/denar90_/status/854797794829316097

[2017-04-19 23:32] exogen commented on #1
Fixed in #102.

[2017-04-20 04:34] pedro93 commented on #1
@tleunen can you confirm that with https://github.com/paulirish/pwmetrics/pull/102 the issue is fixed on your end? If so I will close this issue.

[2017-04-20 04:38] pedro93 commented on #101
In the upstream issue there is a code snippet that will fix the issue. We should create a PR on the upstream repo and fix this. I can do it but only after I'm back from vacation.

[2017-04-20 04:43] tleunen commented on #1
Looks like it's works fine with latest master :)
![image](https://cloud.githubusercontent.com/assets/1972567/25213937/29db2c9a-2549-11e7-8105-4d411924945e.png)

[2017-04-20 04:48] mathiasbynens commented on #101
Sounds like in the mean time, it would make sense to add installation instructions to the README that explicitly use `yarn` instead of `npm`. 👓

[2017-04-20 05:15] pedro93 commented on #1
Amazing, closing the issue then ;)

[2017-04-20 05:15] #1 closed

[2017-04-20 06:11] paulirish commented on #101
@mathiasbynens good call. fixed readme in 1f6ed05

[2017-04-20 06:22] #39 closed

[2017-04-20 06:24] paulirish commented on #55
i just published 1.3.2 which contains the terminal fix along with invalidprotoexpectation fix.

[2017-04-20 06:31] denar90 commented on #55
🎉  Just woke up and found out that so many stuff is going around.
Do you wanna either release v2 or we will stick to `1.3.x` instead?

[2017-04-20 06:38] paulirish commented on #55
i think we should retag as 2.0. i'd love you to take the honors of that. :)

[2017-04-20 06:53] denar90 commented on #55
@paulirish thank you for letting me do that!
v2 is landed 🚀
Thanks to all of you guys @paulirish @samccone @pedro93
Cheers 🍺 💃

P.S. If someone is interested in v2 features, we have some article for you https://medium.com/@denar90/easy-progressive-web-metrics-9afa5ed857c2

[2017-04-20 06:57] paulirish opened #104 "Required OptimizedImages gatherer encountered an error"
using latest version

❯ pwmetrics https://bloomberg.com
Launching Chrome
  ✘ Error: Unable to complete run 1 of 1 due to Audit error: Required OptimizedImages gatherer encountered an error: not opened Audit key: uses-optimized-images.

@benschwarz mentioned bloomberg is a tricky page and it always errors. though this error is diff than what he was seeing:

anyway.. looks like grabbing the Lighthou

[2017-04-20 06:58] #55 closed

[2017-04-20 07:16] benschwarz commented on #104
I continually see the same for `pwmetrics https://mobile.twitter.com/benschwarz` too:

<details>
<summary>Output</summary>

<pre>
Launching Chrome
  ✘ Error: Sorry, Visually Complete 85% metric is unavailable.
  ✘ Error: Sorry, First Contentful Paint metric is unavailable.

                       |
First Contentful Paint | NaN
                       |
First Meaningful Paint | -1

[2017-04-20 08:39] pedro93 commented on #55
AMAZING! 🤗🤗🤗🤗

[2017-04-20 15:57] jooj123 opened #106 "pwmetrics section in package.json ignored"
Running with script command `pwmetrics --config` according to docs will use `pwmetrics` config in `package.json` - so a section such as:

[code]

Is getting ignored and dumping error message "✘ Error: No url entered.."

Having a seperate js config file like `pwmetrics --config=pwmetrics-config.js` works fine on the other hand

[2017-04-20 16:01] craig-mulligan commented on #106
I'm hitting the same thing ☝️

[2017-04-20 16:02] pedro93 commented on #106
Hello, thanks for filling this issue.
Could you post the package.json you are using? If possible also the project structure and node version.

[2017-04-20 16:05] pedro93 commented on #106
A minimal viable example showcasing this would be great to find and fix the bug quickly :)

[2017-04-20 16:12] jooj123 commented on #106
@pedro93 node `v6.9.1`

I had to strip out some proprietary tools (filled with `xyz`), but you will get the idea from this sample:

[code]

[2017-04-20 16:15] craig-mulligan commented on #106
I think this is actually a docs issue. Because running `pwmetrics --config=package.json` works. But the [README](https://github.com/paulirish/pwmetrics#defining-config) insinuates that `pwmetrics --config` would work the same.

Is it expected to?

[2017-04-20 16:18] jooj123 commented on #106
@craig-mulligan probably should default to `package.json` for convenience i guess

[2017-04-20 16:20] pedro93 commented on #106
It should @craig-mulligan due to the default parameter here: https://github.com/paulirish/pwmetrics/blob/master/lib/utils/fs.ts#L6

@jooj123 are you running pwmetrics through npm script right now? Could you try and install globally and executing the same snippet from the terminal in the root dir of your project?
In your project's root directory:
$ npm install -g pwmetrics
$ pwmetrics --config

[2017-04-20 16:28] jooj123 commented on #106
I think the issue is this if statement: https://github.com/paulirish/pwmetrics/blob/master/bin/cli.js#L70

Changing to something like:
`config = argv.config ? getConfigFromFile(argv.config) : getConfigFromFile();` works

Im happy to throw up the PR if you can verify thats ok?

[2017-04-20 16:43] pedro93 commented on #106
I'm not near my laptop to confirm... But @denar90 or @paulirish can validate that very quickly :)

[2017-04-20 17:01] pedro93 commented on #106
My rough solution would be:

[code]

The if statement is needed because the config flag may or may not be called. I don't like the code as is though.

If adding 'undefined' as the default value to the the yargs 'config' definition sets the value then this problem can be solved more cleanly.
E.g: https://github.com/paulirish/pwmetrics/blob/master/bin/cli.js#L47

[2017-04-20 17:08] jooj123 commented on #106
Yeah sorry i just meant my line temporarily fixed it - its not an ideal fix

I can throw up a PR tomorrow for a clean fix - late here in oz :)

[2017-04-20 20:21] denar90 commented on #106
Guys, what if instead we set a default value equal to `package.json` in `config` option?
We can achieve a lot of simplifications.

[2017-04-20 20:24] denar90 commented on #104
Hmm, strange, I even can't reach you guys.
[code]

[2017-04-20 21:24] denar90 commented on #104
Oh nice, bloomberg in Europe redirects to `https://www.bloomberg.com/europe` that's why I get this error. But it's really interesting case which should be handled on LH side and not be throwing error, I think. @paulirish thoughts?

btw, `pwmetrics https://www.bloomberg.com/europe` passed fine for me. FCP - 5,6 sec, TTI - 7,3 sec.

[2017-04-20 21:54] benschwarz commented on #104
@denar90 Yup; This is definitely a lighthouse issue—I just discovered it via pwmetrics (while trying to figure out some LH issues I'm having in Calibre).

@paulirish, Should we close up this issue and ref it on the LH issue tracker?

[2017-04-21 02:08] rpkoller opened #108 "Getting a "TypeError: Cannot read property 'length' of undefined" in pwmetrics 2.0.0"
Hi I've updated to pwmetrics 2.0.0  few minutes ago. wanted to test things afterwards but ran straight into the following error:

[code]

I've noticed afterwards that the recommendation changed from using npm for install to yarn. I've installed version 2.0.0 with npm. but thought it wouldn't make a difference in with which app you install a module. So is it recommended to uninstall pwmetrics and r

[2017-04-21 03:09] pedro93 commented on #108
Yes, please reinstall via yarn. See https://github.com/paulirish/pwmetrics/issues/101 and linked issue links for more information.

[2017-04-21 05:48] #106 closed

[2017-04-21 14:10] rpkoller commented on #108
@pedro93 read this thread. but it puzzles me cuz so far i thought yarn would use the same node_module folder like npm. but it doesnt as i see now. think i have to read up more on that. and the error is the same but now for the yarn folder:

[code]
installed with `yarn global add pwmetrics`

[2017-04-21 14:44] pedro93 commented on #108
@rpkoller thank you, I'm stomped :/ @paulirish could you have a look at this? The stack trace is relative to lighthouse

[2017-04-21 15:03] pedro93 commented on #108
@rpkoller could you check what version of lighthouse you have in yarn/global? Until lighthouse releases a new version (there are a bunch of fixes we need for v2) we are using a commit specific version that @paulirish provided

[2017-04-21 15:25] rpkoller commented on #108
`~/.config/yarn/global/node_modules/lighthouse` says i am running version 1.6.0

[2017-04-23 12:47] akella opened #109 "Entire trace was found to be busy. Audit key: time-to-interactive."
This is a great tool! Hope it will grow with functionality!

Meanwhile getting this error on my website, i guess it has something to do with youtube iframe
[code]
Hope this will help to improve the tool!
Thank you.

[2017-04-23 13:35] pedro93 commented on #109
Hey, thank you for feedback :)
Can you reproduce this error in lighthouse? Pwmetrics is nothing more than a wrapper on top of it.

[2017-04-23 15:43] akella commented on #109
Thank you for fast feedback!
Just generated report using chrome plugin (thats what you meant?)
http://take.ms/bNd3Z

Tried running pwmetrics again, with plugin installed - same error.

[2017-04-23 17:01] pedro93 commented on #109
Lighthouse chrome plugin or npm module is fine for this :)

I noticed the same problem happened in lighthouse plugin, I don't think it's a pwmetrics problem. Perhaps lighthouse is not (yet?) equipped to handle something in the website you tried to test.

I would suggest opening an issue in the [lighthouse repo](https://github.com/GoogleChrome/lighthouse) and see what the developers say.

In the me

[2017-04-23 17:01] #109 closed

[2017-04-23 20:26] denar90 commented on #109
@akella thx for reporting this one. After running your site via Lighthouse (using cli) I faced no problems (TTI for you site was +990ms), probably it's because we are using Paul's fork. Tomorrow I'll make some investigations about it...

[2017-04-25 23:16] denar90 commented on #101
@pedro93 @paulirish we already have some fix for this issue https://github.com/paulirish/pwmetrics/blob/master/types/types.ts#L126 so I dunno why it happens. Will investigate though...

[2017-04-26 03:01] paulirish commented on #104
Yup! Upstream that shii

On Apr 20, 2017 2:55 PM, "Ben Schwarz" <notifications@github.com> wrote:

[2017-04-29 17:55] pedro93 commented on #101
I've just confirmed that yarn installation now works on a windows 10 machine. I think we can close this issue @denar90, the installation process seems good 👍

![pwmetrics](https://cloud.githubusercontent.com/assets/3718654/25557626/3100740c-2cca-11e7-9ada-14ac795b98fc.png)

[2017-04-29 17:58] pedro93 commented on #104
@paulirish as this is an upstream can I close this issue?

[2017-04-29 17:59] paulirish commented on #104
Yup!

On Apr 29, 2017 10:58 AM, "Pedro Silva" <notifications@github.com> wrote:

[2017-04-29 18:01] #104 closed

[2017-04-29 18:09] pedro93 commented on #108
@rpkoller can you try and delete all entries in ``` ~/.config/yarn/global/node_modules/``` and run
```$ yarn remove global pwmetrics && yarn add global pwmetrics``` to force https://github.com/paulirish/pwmetrics/pull/110 to be included in the code?

[2017-04-29 18:11] #101 closed

[2017-04-29 19:31] denar90 commented on #101
Can confirm the same for `npm i`

[2017-04-30 20:06] denar90 commented on #108
@rpkoller can you reinstall? I've published v2.0.1 with fixes. Should be working for you.

[2017-05-01 01:05] rpkoller commented on #108
@denar90  @pedro93 honestly speaking I would and want but somehow Yarn and me had a rough start. ;) Basically I am rather confused right now. I had yarn installed with brew a while ago. Never used it so far. Then I've installed `pwmetrics` with `yarn add global pwmetrics` as it was recommended for `pwmetrics 2.0.0` and I've uninstalled the `npm` `pwmetrics` version beforehand. When I check `~/.con

[2017-05-01 08:01] benschwarz commented on #104
👍 Thanks for copying the issue over @pedro93, I was in the midst of travel and didn't have time to take care of it myself. 🍍

[2017-05-01 11:41] rpkoller commented on #108
uhhhh bummer due to the fact that i never used Yarn so far actually I forgot about to add `~/.config/yarn/global/node_modules/.bin` for the global bin folder to the path in my bash_profile. :/ Dumb oversight. With that in place it is working now flawlessly already with 2.0.0 . Found while going through the yarn issues on github. Sorry for the trouble. :( But never the less one question still persi

[2017-05-01 11:53] pedro93 commented on #108
Glad to hear your issue is solved. We provide both npm and yarn installations but we advise using yarn as suggested in the repo readme. There was recently an issue with npm and us using a commit-specific version of lighthouse but that should be solved as soon as a new version of lighthouse is released (scheduled for the Google I/O). I will close this issue. Please comment if you feel anything is r

[2017-05-01 11:53] #108 closed

[2017-05-04 22:24] denar90 opened #111 "Cannot find module '/my/path/to/package.json'"
After running `pwmetrics` from path where `package.json` is absent we get exception kinda `Cannot find module '/my/path/to/package.json'`
Thanks to @pedro93 for finding this one 👍

[2017-05-08 10:57] #111 closed

[2017-05-11 04:14] MickeyKay opened #113 "First contentful paint question/issue"
Re: the following run:
![image](https://cloud.githubusercontent.com/assets/3189678/25932156/05e03e2a-35ac-11e7-8222-7f59e3993a57.png)

Based on what I've read it seems like `First Contentful Paint` should always come before `Visually Complete 100%`, or is that incorrect? Either way, I'm curious what might lead to such disparate timings between these two metrics. Thanks!

[2017-05-11 07:42] pedro93 commented on #113
That is indeed an interesting run data.
What version of pwmetrics and google chrome are you using?
As far as I know you correct that ```First Contentful Paint``` should appear before ```Visually Complete 100%```

Can you reproduce that sort of output consistently? Could you provide the url you used to test?

Because pwmetrics is merely a wrapper on top of [lighthouse](https://github.com/GoogleChro

[2017-05-11 08:56] denar90 commented on #113
Also will be nice to now which `pwmetrics` version you are using.

[2017-05-11 16:23] MickeyKay commented on #113
Thanks for the reply. To answer your questions:
- Chrome: Version 58.0.3029.110 (64-bit)
- URL: testing a local dev URL, so not publicly available
- I cannot reproduce this in any obviously deterministic way

If I see this again I'll drop it over on the Lighthouse repo - thanks!

[2017-05-11 16:23] #113 closed

[2017-05-11 16:33] MickeyKay opened #115 "Feature request: ability to filter hiddenMetrics"
At present it doesn't look like there's any way to filter/customize the `metrics.hiddenMetrics` array, which is used here to determine which metrics are output in the chart: https://github.com/paulirish/pwmetrics/blob/master/lib/index.ts#L214

Unless I'm mistaken, there is no way to customize the chart output with these hidden metrics, correct? If that is the case, I'd like to request the ability

[2017-05-11 16:47] MickeyKay commented on #115
In fact, the more I look into this the more it seems like it might be more extensible to switch over to using an `includedMetrics`, which would allow for a much more configurable top-level `metrics` object in a user's config.js file.

My use case is one in which we don't need to focus on expectations so much as basic metrics visualization (e.g. we just need to know the timings on specific metrics,

[2017-05-11 17:12] pedro93 commented on #115
cc @paulirish @denar90. What do you guys think? This is somewhat similar to a feature we discussed a while back during the 2.0 release. Should we resume the conversation?

@MickeyKay how custom do you need metrics for your use? Simply have the option to include the hidden ones or something more than that?

[2017-05-11 18:23] MickeyKay commented on #115
@pedro93 at this point it's really just the ability to include/exclude metrics more granularly. That said, it seems like using the above, generic `metrics` object allows much more future extensibility, even if you only enable a list of metric names at this point.

Also, just curious, how did y'all decide to go the `hiddenMetrics` route, and how did you decide which metrics should/shouldn't be incl

[2017-05-11 19:34] MickeyKay commented on #115
Just spun up https://github.com/paulirish/pwmetrics/pull/116 as a prototype for what this could look like. In an ideal world, we'd extract out a full `metrics` object in config I think, however this gets more complicated since we're importing the `metrics` object which has a lot more than just config.

[2017-05-12 14:00] denar90 commented on #115
So, my thoughts about it.
First of all, this looks breaking so it should go with v3. After LH major release.

----
Going with proposed solution we might face several problems:
 - what about sheets option? should it stick to `metrics` prop? if so, it makes complicated sheets. e.g I already have 10 rows and accidentally changed the list of metrics, then graph can be broken...
 - what about `json`/`f

[2017-05-12 14:35] pedro93 commented on #115
I would also like to add to what @denar90 said. A similar functionality to this has in the past been proposed and it included corner cases such as defining what the median run of out N runs is, see https://github.com/paulirish/pwmetrics/pull/71#issuecomment-285147886

[2017-05-12 17:30] MickeyKay commented on #115
Thanks for the feedback, I see. My thinking was that this would only affect charts for v1, since that is the current behavior of `hiddenMetrics`. An alternative, less sweeping change could be including a new `chart` top level config prop, however I realize this is getting a bit into the weeds now. Regardless, I would love to hear your thoughts on the simplest solution to allow customization of cha

[2017-05-14 16:04] jooj123 opened #117 "pwmetrics section in package.json ignored"
This issue is back:
https://github.com/paulirish/pwmetrics/issues/106

It was originally fixed here:
https://github.com/paulirish/pwmetrics/pull/107

But looks like this PR breaks it (as it no longer defaults to `package.json` now):
https://github.com/paulirish/pwmetrics/pull/112

[2017-05-14 17:09] pedro93 commented on #117
__Edit__
I just created a project to try to reproduce this and have been unable to. How are you hitting this error?
I simply created a node project with ```npm init && npm install --save-dev pwmetrics```, added the pwmetrics option in the package.json:
[code]

And got the following:

![pwmetrics output](https://cloud.githubusercontent.com/assets/3718654/26036123/f73f17b6-38cf-11e7-994f-68055c34176

[2017-05-15 05:54] denar90 commented on #117
@jooj123 do you use latest version?

[2017-05-15 09:10] jooj123 commented on #117
Yep i have the latest

The difference is that im running just `pwmetrics` without the `--config` - which makes sense because the docs mention
"# --config        Provide configuration (defaults to `package.json`). See _Defining config_ below."

[2017-05-15 09:38] pedro93 commented on #117
Ok, that is an error in the readme. What was meant was: if you want to use a config file, use the config flag. If no path is given, defaults to package.json of the current directory.

Will making the readme clearer be enough for you @jooj123?

[2017-05-15 12:55] denar90 commented on #117
fixed by https://github.com/paulirish/pwmetrics/commit/dae68c71c5964ee30b91695f36ad092a3c467534

[2017-05-15 12:55] #117 closed

[2017-05-16 09:23] jooj123 opened #118 "Fails to run silently in CI"
Not entirely sure if this is a bug - or incorrect usage of `pwmetrics`.

If i try and run `pwmetrics` within my CI environment it seems to fireup headless chrome and then silently fails.

Looking for suggestions on how to at least debug this (even if its not a bug).

Here is the output:

[code]

When i run this locally (non headless) i get output like:
<img width="1362" alt="screen shot 2017-05-16

[2017-05-16 10:00] pedro93 commented on #118
Currently pwmetrics uses a commit-specific version of lighthouse [see package.json](https://github.com/paulirish/pwmetrics/blob/master/package.json#L24).

Lighthouse has had in the past some problems runnning in headless mode https://github.com/GoogleChrome/lighthouse/issues/2008, ensure if the differences between our lighthouse version and stable one has an impact on the headless mode.

We should

[2017-05-16 16:42] paulirish opened #119 "Upgrade to latest lighthouse"
There's a [alpha](https://github.com/GoogleChrome/lighthouse/pull/2262) release of the 2.0 that we can give a go over here:

`lighthouse@canary` will work, but you could also use the specific release.. currently `lighthouse@2.0.0-alpha.6`

We'll probably ship the real 2.0 on friday, but if you two want to test things out here, we can verify we don't have any Lighthouse-side bugs. :)

Also.. brand

[2017-05-16 19:09] denar90 commented on #119
I also have been thinking about that but faced some concerns.
1. TTI is no longer what we need. So if we bump to LH alfa version, do we
have to make v3 release? What to do when we bump to real LH 2? v4?
2. LH has updated chrome launcher, so I'd like to update our code to this
stuff.

On May 16, 2017 7:42 PM, "Paul Irish" <notifications@github.com> wrote:

[2017-05-16 19:54] pedro93 commented on #119
Doesn't the new lighthouse version have a new version of TTI, which is supposed to be more stable?
Maybe we can also make a V3-alpha version to match lighthouse and release the stable version along-side lighthouse.

There are multiple areas I would also like to change, to fix our linting warnings for instance. Perhaps re-propose the desiredMetric functionality, it was recently requested.

If we do

[2017-05-16 19:58] denar90 commented on #119
Yeap, new TTI version is cool. I'm more than 👍 to bring it here asap.

It can be as part of v3.x so no rush here.

[2017-05-16 22:24] paulirish commented on #119
yes TTI is gonna. it basically splits into TTFI and TTCI.

[2017-05-17 00:22] jooj123 commented on #118
Ok maybe ill just wait till https://github.com/paulirish/pwmetrics/issues/119 is resolved

thanks

[2017-05-24 13:30] davidhund opened #121 "Fails after 1st run (Win7, v2.0.2)"
Running `pwmetrics http://localhost:3000/ --runs=3` fails after the first run.

### Steps to reproduce.
`pwmetrics http://localhost:3000/ --runs=3`

### Stack trace
[code]

### Environment
1. `pwmetrics` version: 2.0.2
2. Chrome version: 58.0.3029.110 (64-bit)
3. OS version: Win 7

I got similar errors on non-localhost sites. Doing just 1 run is fine.

Also: I've noticed the Chrome Translation Dia

[2017-05-24 14:12] pedro93 commented on #121
Hello, thanks for the filling the issue.

Reproducing localhost wouldn't help without having the source code of what you serve nor the method by which you serve it. For instance if your http server is a node process, to run pwmetrics it has to be on a separate process.

Could you provide an example of a non-localhost site where I can reproduce this?

Support for lighthouse v2 flags will be added w

[2017-05-24 14:20] davidhund commented on #121
Thanks for your quick reply @pedro93!

Just tested with `pwmetrics https://google.com/ --runs=3`:

[code]

As for localhost: I am serving it through browserSync which proxies a local Apache.
Running pwmetrics directly on the local Apache url fails too b.t.w.

[2017-05-24 15:18] pedro93 commented on #121
That is very strange, I just ran pwmetrics on my machine (ubuntu) and it worked:

![pwmetrics](https://cloud.githubusercontent.com/assets/3718654/26410859/53f27e48-409c-11e7-9ad9-c77cb6472cdb.png)

The only variation I see is the operating system. I have a windows 8 machine at home, I will try there in a couple of hours.

In the meantime could you see in the lighthouse repo if there are windows-re

[2017-05-24 16:44] denar90 commented on #121
Hey guys. I assume that this problem can be present on windows and it could be related to chrome launcher. But it should work after updating to LH v2. I'll test current version and with LH v2 on windows later today. Will see how it goes.

[2017-05-24 21:19] denar90 commented on #121
hmm, I'm facing kinda similar errors even with LH v2. I used virtualbox and windows10, so it was painful
![image](https://cloud.githubusercontent.com/assets/6231516/26426067/bf305764-40df-11e7-83bb-12f1afc32c75.png)

[2017-05-25 02:27] samccone commented on #121
it seems related to this eh...
https://github.com/GoogleChrome/lighthouse/issues/2337

[2017-05-25 06:25] pedro93 commented on #121
@samccone FYI pwmetrics does not use lighthouse v2 yet.

That is in a PR currently. Does the issue https://github.com/GoogleChrome/lighthouse/issues/2337 also happens for lighthouse v1.6.5? If not this could be something else altogether.

We use a commit specific version: paulirish/lighthouse#c74ea959"

[2017-05-25 13:11] davidhund commented on #121
@samccone @pedro93 — thanks for looking into this!

I assume — as https://github.com/GoogleChrome/lighthouse/pull/2359 fixes the related LH v2.0.0 issue —  we can expect this to be coming in with #119?

[2017-05-25 13:23] pedro93 commented on #121
Yes we intend to merge https://github.com/paulirish/pwmetrics/issues/119 as soon https://github.com/GoogleChrome/lighthouse/issues/2251 is landed and published.

[2017-05-25 14:25] samccone commented on #121
The root issues was pre lighthouse 2 :)

[2017-05-28 08:41] julianusti opened #122 "CI: Calculate metrics based on previous results."
As a part of CI it would be nice to have a feature that allows you to calculate metrics based on your previous results, so we can alert in case if perf metrics are going down significantly.

[2017-05-28 21:06] denar90 commented on #122
Hi. Do you wanna use gdrive for this?

So in this case we should be able also to compare expectations not just with object set in config but also with some file with expectations.

[2017-05-28 21:37] julianusti commented on #122
hey @denar90

I think gdrive is one of the option, but ideally you want to have several options, right? For example to store results locally. That's what I'm doing right now in my patched version of `pwmetrics`, or maybe you want to push it to s3.

[2017-05-28 21:46] julianusti commented on #122
That's right. As a part of your calculation you will take the budget from the config file and the prev. results from the store(file/gdrive/s3/etc.).

[2017-05-28 22:20] denar90 commented on #122
Will be nice to take a look 👀 . Can you create a pr or smth?

---
I have couple questions.
How to identify the latest file? Should results always be rewritten after each succeed run?
How to handle travis (only gdrive or smth option, I'm not sure we can store results locally there)?
Add additional handle for reading from gdrive as part of config?

[2017-05-29 11:35] julianusti commented on #122
Sure, I'll open PR.

Very good question.

Each time we perform a test a **new file** is getting created with a name that contains a timestamp (i.e. `perf_test_29.06.17.00.38.29.json`).
Of course we don't want to go crazy and create millions of files, so that's why it's good to set a limit (could/should be configurable), let's say 10 files. So, this way we **always keep 10 latest results** (_First

[2017-05-30 08:23] denar90 commented on #122
Good points. I'm 👍  for this way, we also can have some tuning or something but for now, we should stick to this one.
cc @paulirish's_team (@samccone @pedro93) thoughts?

[2017-05-30 11:14] pedro93 commented on #122
I'm with trying something like this, not exactly sure how to implement it though. I see two options:

1.  Tightly integrate CI metric storage which means that pwmetrics will no longer just be a console utility tool but will have a data store attached somehow (perhaps a plugin?), or add more storage related options.
2.  Create a plugin of sorts that will do these operations (i would prefer this), e

[2017-05-30 12:27] julianusti commented on #122
@pedro93 @denar90

❤️ it.

I would then also move google-sheets out of the `pwmetrics` and make it as a part of `pwmetrics-storage`.

[2017-05-30 13:33] pedro93 commented on #122
If we agree on a plugin-based system, yes Google-sheets should move out. Perhaps as the first option (POC) for pwmetrics-storage

[2017-05-30 13:51] denar90 commented on #122
If we wanna divide pwmetrics should we create org for this? or should we create subpackages? thoughts?

[2017-05-30 14:16] julianusti commented on #122
@denar90 @pedro93 as for now, i think org would be the optimal solution, so we can keep plugins together and prototype fast. Is it make sense or am I missing something?

[2017-05-30 14:47] pedro93 commented on #122
I do not have experience in managing orgs or monorepos. I'll defer to your best judgment, however does this make sense as a plugin for pwmetrics? @julianusti correct me if I'm wrong but don't you want something more general?

As in, depending on the CI system you have you create a script that runs pwmetrics, processes the output and passes that to the CI system that could for example generate a pe

[2017-06-13 01:31] jooj123 commented on #118
@pedro93 are we still waiting for https://github.com/paulirish/pwmetrics/pull/120 to be resolved?
Anything i can do to help ?

[2017-06-13 02:41] pedro93 commented on #118
We are waiting for https://github.com/GoogleChrome/lighthouse/issues/2251 to be resolved before we move to lighthouse v2 official non-alpha. There has been frequent daily work on the PR so it shouldn't be long. Maybe see if you can speed it along there?

[2017-06-20 06:40] denar90 commented on #119
Fixed by #120

[2017-06-20 06:41] #119 closed

[2017-06-20 06:41] denar90 commented on #121
Should be fixed by #120
Feel free to reopen.

[2017-06-20 06:41] #121 closed

[2017-06-20 06:51] denar90 commented on #118
@jooj123 we've published v3. Can you still reproduce this issue?

[2017-06-22 07:47] pedro93 commented on #115
Sorry for the late reply @MickeyKay. To answer your question, imo opinion would be to allow the user to specify the metrics they want and having a default to fallback to if nothing is specified. See https://github.com/paulirish/pwmetrics/pull/71 for the discussion and implementation (at the time). As it stands currently, there is no way to this at the moment without changing the codebase.

[2017-06-22 17:39] jooj123 commented on #118
@denar90 ill try to test this out again tommorrow - thanks

[2017-06-28 04:46] young commented on #118
@jooj123 Just ran into the same issue as you. Checked the source and I noticed chrome flags has to pass an array into pwmetrics and the name is camel-cased.

When I changed my options to:

[code]
I can get pwmetrics to run in headless Chrome.

[2017-06-28 05:04] young commented on #118
Updated the readme with #126.

[2017-07-03 01:40] jooj123 commented on #118
ok thanks @denar90 & @young - can close this one now

[2017-07-03 01:40] #118 closed

[2017-07-10 05:20] willmendesneto opened #127 "pwmetrics returns `exit 0` when one of the expectations is not correct"
### About this issue

I'm using pwmetrics, but I'm receiving a false positive when one of the expectations are passing. I couldn't find a way to make it pass only when all expectations are correct in the docs.

### Config / CLI options

[code]

### Steps to reproduce.

I tried to make it run using

[code]

[code]

PS:

- I tried run via npm script adding the same command as a npm script and both r

[2017-07-10 07:21] pedro93 commented on #127
As of right now the status code of pwmetrics is relative to a successful auditing execution and not the values of that execution.

If for some reason pwmetrics (actually lighthouse under the hood) was unable to retrieve the page load event for example, it could not compute the metrics which would lead to a crash in the program (see https://github.com/paulirish/pwmetrics/issues/74 for example).

Pe

[2017-07-10 23:03] paulirish commented on #127
Agree that the exit code should definitely be non-zero if there was an error within the expectations.

(TBH we should be exiting with 1 here as well: https://github.com/paulirish/pwmetrics/blob/6aea514f185901d7641750fda5d20c52a20a0d5a/lib/expectations.ts#L12 )

[2017-07-12 22:08] willmendesneto commented on #127
@paulirish About the `process.exit(1)` that you linked, it's solved in this commit (it's on PR right now). https://github.com/paulirish/pwmetrics/pull/128/commits/5c3a392cf17847ad020e70952da089a197fd45f5#diff-8ad51fb63d3211deee9a805a512386adR12

[2017-07-15 01:25] cheneytsai opened #130 "Feature Request: Add chromePath as an option to test with a specific version of Chrome"
It seems like currently pwmetrics launches with the latest version of Chrome, since the underlying chrome-launcher has support for [chromePath](https://github.com/GoogleChrome/lighthouse/blob/master/chrome-launcher/chrome-launcher.ts#L93-L96), should we add the option in pwmetrics?

[2017-07-15 09:50] pedro93 commented on #130
I don't see any reason why not. Want to make a PR?

[2017-07-19 06:38] willmendesneto commented on #127
Closing this issue. It was solved in [this commit](https://github.com/paulirish/pwmetrics/commit/c72a0d03c488a89807514930fb49d3111154062b). Thanks everyone.

[2017-07-19 06:38] #127 closed

[2017-07-20 19:30] denar90 opened #132 "Audit error: trace not at least 5 seconds longer than FMP Audit key: first-interactive"
### Config / CLI options
`pwmetrics https://example.com`

### Steps to reproduce.
run `pwmetrics https://example.com`

### Stack trace
[code]

### Environment
1. `pwmetrics` version: 3.0.1
2. Chrome version: Version 61.0.3162.0 (Official Build) canary (64-bit)
3. OS version: MacOs Sieera 10.12.4

[2017-07-24 21:18] natedanner commented on #130
PR opened. https://github.com/paulirish/pwmetrics/pull/134

[2017-07-24 21:46] epodgaetskiy opened #135 "No domContentLoaded event in trace Audit key: first-interactive."
pwmetrics https://gdesport.info

 Error: Unable to complete run 1 of 1 due to Audit error: No domContentLoaded event in trace Audit key: first-interactive.

Can you help me about this error?

[2017-07-25 05:50] denar90 commented on #135
It's related to https://github.com/paulirish/pwmetrics/issues/132
Looks like some metrics results are misssed.
I'll try to debug Lighthouse and get back with results.

[2017-07-25 19:15] #130 closed

[2017-07-28 14:07] staabm commented on #132
same on
  pwmetrics 3.1.0
  win10
  Chrome 62.0.3169.0
  node 8.2.1

[2017-07-28 14:27] denar90 commented on #132
Looks like LH is not providing metrics we needed.
Our logic is dumb, get metrics -> draw chart, if there are no metrics -> throw error.
I'm wanna change it to - get metrics -> draw chart, if there are no metrics -> draw chart but with missed metrics.
I have one problem - time. Really really hope to look at it on a weekend.
Today is #opesourcefriday but not at my company...

[2017-07-28 22:06] denar90 opened #137 "Expose LH runner logic into single file/module/folder"
Having it in single file/module/folder might be helpful for others, kinda chrome-launcher...
It will be like proxy
` perf conf => [balck box (running chrome and LH)] => return result `

[2017-07-29 09:42] pedro93 commented on #132
@denar90 and @staabm can you reproduce this consistently? I've been trying but pwmetrics works fine for me.

Pwmetrics version: 3.1.0 (from master)
Chrome version: 60.0.3112.78
OS: Ubuntu 16.04 LTS
NodeJS: v8.2.1

[2017-07-29 09:45] pedro93 commented on #137
Can you elaborate on the "perf conf"? Do you mean that the input for pwmetrics will be a performance LH report and we just generate the graph from it?

[2017-07-29 09:49] pedro93 commented on #135
@epodgaetskiy What are you system's characteristics? Node, pwmetrics, chrome and OS version?

I managed to run it fine:
![screenshot from 2017-07-29 10-48-36](https://user-images.githubusercontent.com/3718654/28743828-82b01c26-744b-11e7-8575-0902f9418487.png)

[2017-07-29 18:50] denar90 commented on #137
no no. nothing changes for pwmetrics. lighthouse-runner is just a class which can run lighthouse and return a result.
interface params kinda:
[code]

[2017-07-29 18:54] denar90 commented on #132
Yup. Still have this issue consistently...

[2017-07-29 19:00] denar90 commented on #135
`node v8.2.1`
`npm 5.3.0`
`chrome - latest canary`

[2017-07-30 08:29] mAiNiNfEcTiOn opened #138 "When running pwmetrics on Travis CI it exits with code 0 and a ' Cannot read property 'ttfcp' of undefined.'"
### Config / CLI options

#### `pwmetrics-config.js`:

[code]

#### `package.json`:

[code]

#### `.travis.yml`:

[code]

### Steps to reproduce.

Well, this is a Travis CI yaml, if you use the same, you'll be able to reproduce.

The strange aspect is that with `lighthouse`, using @justinribeiro's chrome-headless docker image it works fine, it gathers the metrics and all.

With pwmetrics it fails

[2017-07-30 19:17] denar90 commented on #138
Hi thanks for reporting this, yup looks like related to #132 #135

[2017-07-30 19:29] #138 closed

[2017-07-30 19:56] #135 closed

[2017-07-30 19:56] #132 closed

[2017-07-31 07:03] staabm opened #140 "chrome asks to translate the page"
when issue the `pwmetrics` command, google chrome starts up and the UI blocks because chrome asks whether it should "translate this page".

no matter whether I allow/deny this dialog chrome closes after 5 seconds and the console output appears. IMO DX wise it would be less confusing when chrome would not ask questions (or at best would start invisible). couldn't pwmetrics use headless chrome?

###

[2017-07-31 13:54] mAiNiNfEcTiOn commented on #138
@denar90 So you know, I've tested and worked fine :) 👍 thanks

[2017-07-31 15:05] denar90 commented on #138
👍

[2017-09-05 23:21] paulirish commented on #140
A little surprised by this as I believe `--disable-translate` is set on the launched chrome instance.. You can verify this by opening `about:version` in a new tab in that chrome window and checking the flags used.

[2017-09-05 23:22] paulirish commented on #140
fwiw  chrome-launcher default flags: https://github.com/GoogleChrome/chrome-launcher/blob/master/flags.ts

[2017-10-13 19:33] denar90 opened #143 "Improve pwmetrics-config"
wdyt if we improve config and make it array instead of object? So we could run CI for several urls with different expectations or other flags.

[2017-10-13 20:23] pedro93 commented on #143
Do you have an example?
How would it be different from calling pwmetrics multiple times with different configs?

[2017-10-17 12:09] staabm opened #144 "json option also outputs graphical representation"
why does the `--json` flag also output a graphical represenation?
I would expect only the json information, so I can process the data further..

### Config / CLI options
pwmetrics http://example.com --json

### Screenshot
![grafik](https://user-images.githubusercontent.com/120441/31664133-8d2775f4-b344-11e7-930b-628eca4d4056.png)

### Environment
1. `pwmetrics` version: 3.1.2
2. Chrome version: 64

[2017-10-17 19:39] denar90 commented on #143
It will be useful for CI. So instead of running pwmetrics in loop, users will provide us with config and we do work for them.
config example
[code]

[2017-10-17 19:47] pedro93 commented on #143
Ok, what about repeat runs?

[2017-10-17 19:52] denar90 commented on #143
do you see the problem here? we can just wait for all runs are done for the first element of array, then do it for the second etc...

[2017-10-17 20:45] pedro93 commented on #143
I don't really see the advantage. Perhaps I do not understand the underlying problem.
In a CI environment I see 2 potential problems:

1.) Having to define multiple configurations files each with different expectations and flags for each different URL you may want to test.

2.) Parallelize as much independent runs as possible. For example, suppose you have a website with 5 different urls you want

[2017-11-08 15:15] pmeenan commented on #140
Looking into a similar issue for WebPageTest, it looks like the --disable-translate command-line option was removed at some point.

[2017-11-08 17:00] denar90 commented on #140
@pmeenan which Lighthouse version do you use?

[2017-11-08 17:26] pmeenan commented on #140
I'm seeing it independent of Lighthouse (in WebPageTest which uses the same command-line option).

The disable-translate flag was [removed ~6 months ago](https://codereview.chromium.org/2819813002/) apparently.

It can be disabled with a machine policy (easy on Linux, royal pain everywhere else) or by writing a Preferences file to the profile with the translate preference disabled.  WebPageTest is

[2017-11-09 14:45] denar90 commented on #140
cc @paulirish

[2017-11-09 15:52] pmeenan commented on #140
It looks like it's not a problem on most platforms because the --disable-infobars command-line option (or one of the others I set) disables the new UI so it's only platforms where the old message box is displayed (Linux in my testing).  Writing a pref to the profile directory before launching or using the policy file both successfully disable it.

For WebPageTest [here](https://github.com/WPO-Foun

[2017-11-09 17:06] staabm commented on #140
I experienced the initially reported problem on windows10x64

[2017-11-09 20:01] denar90 commented on #140
@pmeenan thank you for these clarifications.
@staabm do you still have this problem, because on macOS it looks fine.

[2017-11-10 09:13] staabm commented on #140
I can still reproduce the issue with pwmetrics 3.1.2 and chrome 64.0.3264.0

[2017-12-15 21:18] denar90 commented on #144
should be fixed with 3.1.3 release.

[2017-12-15 21:38] denar90 commented on #144
* 3.1.4

[2017-12-15 21:38] #144 closed

[2018-01-16 16:23] staabm commented on #140
tested with the latest version of chrome and pwmetrics.

the issue seems fixed.

tested on chrome 65 and pwmetrics 3.1.4

[2018-01-16 16:23] #140 closed

[2018-01-18 15:50] gcallaghan opened #148 "TTI expectations not working as expected"
TTI, TTCI seem to be ignored
TTFI reports an error

### Config / CLI options

[code]

### Steps to reproduce.

substitute example.com for real site and run
`$ pwmetrics --config pwmetrics-config.js`

### Stack trace

Not really a stack but ...
[code]

### Screenshot

### Environment
1. `pwmetrics` version: 3.1.4
2. Chrome version: 63.0.3239.132
3. OS version: OS X 10.13.2

[2018-01-19 09:39] pedro93 commented on #148
Hello, thank you for reporting the issue.

Currently I will only time to look at this over the weekend, but here go some preliminary thoughts:
Pwmetrics validates the metrics that lighthouse obtains and then matches them to the user's defined expectations sequentially: https://github.com/paulirish/pwmetrics/blob/master/lib/expectations.ts#L35

It looks like the run data you had failed to obtain th

[2018-01-19 14:54] gcallaghan commented on #148
- I  consistently get this error
- In headless and non headless modes
- https://brkt.com
- ^2.7.0

note: The other two tti metrics seemed to be ignored in the expectations even though ttci had a metric reported.

[2018-01-20 19:26] paulirish commented on #148
fWIW here's the LH report for that URL: https://googlechrome.github.io/lighthouse/viewer/?gist=6447580b9a63d20b983dc77823ce6646

It does collect TTFI successfully, so I'm not sure why it's lost

[2018-01-21 21:06] pedro93 commented on #148
I think there are two issues here:
1.) pwmetrics is expecting a hardcoded set of metrics which lighthouse may no longer provide https://github.com/paulirish/pwmetrics/blob/master/lib/metrics.ts#L9
2.) When receiving the audit results from the lighthouse run it will loop through each of the hardcoded metrics and fail fast if one of the expected metrics is not found.

Note that these are my prelimin

[2018-01-23 20:50] denar90 commented on #148
I think this one is related to https://github.com/GoogleChrome/lighthouse/issues/2801

[2018-01-29 21:11] jbelew opened #150 "Unable to pass params to Lighthouse when using an external configuration"
### Config / CLI options

### Steps to reproduce.
Using either combo --
[code]

pwmetrics doesn't pass the parameters to Lighthouse. Same behavior occurs using either JSON or JavaScript configuration files. Without a configuration file, parameters are passed successfully.

### Environment
1. `pwmetrics` version: 3.1.4
2. Lighthouse version: 2.8.0

[2018-02-02 20:11] denar90 opened #151 "Comparing measurements between headless and none headless modes for perf metrics"
As @paulirish [mentioned](https://github.com/paulirish/pwmetrics/pull/147/files#r160195545) there is no proof to be sure that metrics got from headless and none headless modes the same.

So I've done some experiments, running 15 times in default and 15 in headless mode. [Results](https://docs.google.com/spreadsheets/d/1ReQfNXTK0QY202pAeXVkQFmNPNLOVGzqwPNxCZL-h_0/edit?usp=sharing) are pretty the sa

[2018-02-02 20:29] pedro93 commented on #151
Great ideia, we should this kind of investigation more often! I have some questions about the results though, they don’t make much sense to me in the spreadsheet I only see 21 runs, where’s the rest? Which ones are headless and which aren’t?

[2018-02-02 20:46] denar90 commented on #151
sorry, I've played a bit with diagrams, now it's restored.
here's better screenshot
![image](https://user-images.githubusercontent.com/6231516/35754110-efab7b82-086a-11e8-83e5-02adf8fdf29d.png)

[2018-02-25 04:53] vinhlh opened #153 "Feature request: Report metrics to Graphite/ Cloudwatch/ etc"
Similar to uploading Lighthouse traces, we could report metrics to Monitoring services like Graphite, Cloudwatch, etc.

What do you guys think?

[2018-02-25 20:35] denar90 commented on #153
We were thinking about multiple providers here - https://github.com/paulirish/pwmetrics/blob/master/lib/sheets/index.ts#L13-L15.

I think others would not mind having a few more providers :)

@vinhlh are you interested working on it?

[2018-02-26 03:08] vinhlh commented on #153
Sure, let me give a try

[2018-03-01 10:25] feifeipan opened #155 "connect ECONNREFUSED 127.0.0.1:9222"
### Config / CLI options
[code]

### Screenshot

![2018-03-01 6 21 20](https://user-images.githubusercontent.com/2155605/36839755-e7ada9e6-1d7d-11e8-89d7-168957036c65.png)

### Environment
1. `pwmetrics` version: 3.1.5
2. Chrome version:64.0.3282.186
3. OS version: macOS 10.13.3

"npm install -g pwmetrics", then run the command.

I've searched chrome_loader, but still have no idea. May someone hel

[2018-03-01 14:54] formatlos commented on #155
I do have the same issue, someone has already fixed it here https://github.com/paulirish/pwmetrics/pull/154 but it'S not merged and published.

[2018-03-02 02:42] feifeipan commented on #155
Thanks a lot. It worked!

[2018-03-02 07:24] denar90 commented on #155
Sorry, I'll try to publish new version tonight.

[2018-03-02 07:28] formatlos commented on #155
@denar90 thanks a lot.  Would it also be possible to upgrade chrome-launcher version as I want to run it on alpine linux and the used one is buggy

[2018-03-02 20:51] denar90 commented on #155
New version is published, chrome-launcher version also was bumped. Can we close this issue?

[2018-03-02 20:57] formatlos commented on #155
looks good for me! thanks a lot.

[2018-03-09 17:01] GuillaumeAmat commented on #148
Is anyone working on that?

[2018-03-09 17:15] pedro93 commented on #148
This should have been fixed upstream. Since then @denar90 has released 2 hotfix versions 3.1.5 and 3.1.6 with the updated lighthouse versions, do you have either of these versions?

[2018-03-10 01:15] paulirish opened #157 "Consider wunderbar"
https://github.com/gribnoysup/wunderbar

![image](https://user-images.githubusercontent.com/39191/37236516-5d1d9cdc-23bd-11e8-9bfb-7bac5ae6e396.png)

might be nice instead of our barchart hax. but i'm not sure.

[2018-03-10 16:57] denar90 commented on #148
@GuillaumeAmat do you still have this issue?

[2018-03-10 16:58] denar90 commented on #137
I'm not sure we gonna implement it...

[2018-03-10 16:58] #137 closed

[2018-03-10 17:04] denar90 opened #158 "Update LH dep to v3"
We should prepare our codebase to LH v3.

1. Take a look at LHR details https://github.com/GoogleChrome/lighthouse/pull/4616
2. Improve code and tests

[2018-03-10 17:05] denar90 commented on #157
Looks pretty, I'll play with it. Should we consider migration after/during #158 ?

[2018-03-10 17:19] GuillaumeAmat commented on #148
@pedro93 @denar90 With that configuration:

[code]

And pwmetrics 3.1.6, the output is:

[code]

[2018-03-10 20:23] denar90 opened #159 "Consider chalk"
We are using [our own stuff](https://github.com/paulirish/pwmetrics/blob/master/lib/utils/messages.ts#L10-L13) for coloring console output, maybe we should also think about https://github.com/chalk/chalk

wdyt?

[2018-03-10 22:19] paulirish commented on #159
Works for me

[2018-03-10 22:49] denar90 commented on #157
Looks interesting, not something we used to see:

![image](https://user-images.githubusercontent.com/6231516/37247576-dbaeb852-24c5-11e8-8d18-fdca88a55dc0.png)

Notes:
1. Just results of POC playground
2. Width of bars can be bigger
3. Colors are configurable

Open questions are:
- will it be better from UX perspective of view?
- In another hand, we should not think about supporting our fork of ch

[2018-03-10 22:56] pedro93 commented on #159
Is there any advantage to using chalk?

[2018-03-10 23:28] paulirish commented on #158
I'd say hold off for a moment. While I have a few PRs that are about to land, the bigger change will be when we nuke extendedInfo.

Around that time, we'll ask you guys how you'd prefer to pull in the timing/timestamp values.. as there's a few ways we could do it.

And here's two slightly better links than 4616:

https://github.com/GoogleChrome/lighthouse/issues/4614#issuecomment-368111051
https:/

[2018-03-12 10:43] vikramvi opened #160 "relation with lighthouse ?"
Can you please clarify how is this related to lighthouse, is it replacement / wrapper , why one should use this tool instead of just lighthouse ?

Thanks,
Vikram

[2018-03-12 20:00] denar90 commented on #159
Just for tuning our code and have ability to use colored output with better API

[2018-03-17 20:29] denar90 commented on #160
Hi Vikram.
PWMetrics is a tool/wrapper for Lighthouse. It runs Lighthouse using [chrome-launcher](https://github.com/GoogleChrome/chrome-launcher) -> gets metrics results due to [perf-config](https://github.com/paulirish/pwmetrics/blob/v3.1.6/lib/lh-config.ts) and either take a look at [docs](https://github.com/paulirish/pwmetrics/blob/v3.1.6/readme.md) or read [article](https://hackernoon.com/eas

[2018-03-17 20:29] #160 closed

[2018-03-20 11:17] vikramvi commented on #160
Thanks @denar90 let me go through those and get back in case of further doubts.

Regards,
Vikram

[2018-03-20 17:10] gribnoysup commented on #157
This library almost made a full circle, haha 😸I made Wunderbar because I needed something flexible to print data from the PWMetrics and here you were evaluating the possibility to use it.

@paulirish first of all, thank you for even considering it, I'm stoked! 😍 Because of that I really want to try to convince you to use it once more. If you are still not feeling like it or just find this comment

[2018-03-22 09:11] jooj123 opened #162 "flags.trim() error"
### Config / CLI options

[code]

### Steps to reproduce.

Run:
`pwmetrics --config=test/performance/pwmetrics-config.js`
as npm command

### Stack trace

[code]

### Screenshot

NA

### Environment
1. `pwmetrics` version: 3.1.6
2. Chrome version: 64
3. OS version: Mac El Capitan

Note: if i go back to version `3.1.2` everything works.

[2018-03-22 17:19] GuillaumeAmat commented on #148
I just created a pull request to fix the missing messages here: https://github.com/paulirish/pwmetrics/pull/163

[2018-03-23 20:33] denar90 commented on #162
I tried with `http://example.com` url and it works fine. @jooj123 can you plz try another url? maybe problem that page can't be reached, I dunno right now...

[2018-03-23 20:56] denar90 commented on #143
Good points, yeah if someone needs several urls to verify then several configs the way.

[2018-03-23 20:56] #143 closed

[2018-03-24 17:07] pedro93 commented on #159
What about wunderbar? @gribnoysup already submitted a PR https://github.com/paulirish/pwmetrics/pull/161 and it looks quite nice. Given that this issue was to consider chalk for code clean up and enabled colored output I think we have a nice alternative.

[2018-03-24 17:09] pedro93 commented on #148
Given that this has an associated PR which has been landed and should be available in the next minor release, can I close it?

[2018-03-24 20:14] denar90 commented on #159
cc @paulirish

[2018-03-24 20:19] #151 closed

[2018-03-24 20:27] denar90 opened #164 "v4 release plan"
Required to have:
- Lighthouse v3 as a dependency (partly https://github.com/paulirish/pwmetrics/issues/158)
- Improved tests, we definitely have to improve them, I've taken a look and ... we can do better (issue will be attached)

Good to have:
 - Feature request: Report metrics to Graphite/ Cloudwatch/ etc (https://github.com/paulirish/pwmetrics/issues/153)
 - Consider chalk (https://github.com/

[2018-03-24 20:43] denar90 commented on #157
@gribnoysup thank you for so grounded and deep investigation! Looks really good! Do you think it will also be fine for windows users? We had some issues with chart behavior before...

[2018-03-25 08:35] gribnoysup commented on #157
Good point! speaking only from a codebase perspective I would say it should work well, but I didn't have the chance to test on windows before 😅

Give me a few hours to bootstrap a VM; I'll check how it works and will report back!

[2018-03-25 18:35] gribnoysup commented on #157
@denar90 I ran my experimental branch in Windows 10 cmd and PowerShell, and here is how it looks:

![virtualbox_windows 10 x64 _25_03_2018_20_21_12](https://user-images.githubusercontent.com/5036933/37878490-6e5e73a4-306a-11e8-95d2-d90a58e499f5.png)

It seems that only half box and full box symbols are supported by win systems out of the box; I'll fix this ASAP. Chart precision wouldn't be as good

[2018-03-25 18:49] gribnoysup commented on #159
@pedro93 @denar90 as my PR was mentioned, I decided that I'll add my two cents to the discussion 😸

Wunderbar could replace your forked chart drawing library `cli-charts`. But in your codebase, I see that these `colorify` functions are used mainly for logging, and not for charts (currently in the forked `cli-charts` implementation `charm` library is responsible for coloring chart bars). So conside

[2018-03-26 14:22] gcallaghan commented on #148
sounds good to me!

On Sat, Mar 24, 2018 at 10:09 AM, Pedro Silva <notifications@github.com>
wrote:

--
Grant Callaghan
6503800603
grantcallaghan.com

[2018-03-27 22:37] denar90 opened #165 "Fun loading"
What about bringing more fun while users waiting for page analyzing, so instead of showing boring messages 'Launching Chrome', `Waiting...`, we can add smth like [parrot.live](https://github.com/hugomd/parrot.live)

[![](https://d.pr/i/jKluc0.gif)

[2018-03-29 08:48] jooj123 commented on #162
Not sure why but I can no longer reproduce .. Closing for now

[2018-03-29 08:48] #162 closed

[2018-03-29 08:53] jooj123 opened #166 ""Something went wrong with recording the trace over your page load" error"
### Config / CLI options

[code]

### Steps to reproduce.

Run:
`pwmetrics --config=test/performance/pwmetrics-config.js`
as npm command

### Stack trace

Errors like:

Something went wrong with recording the trace over your page load. Please run Lighthouse again. (NO_FMP) Audit key: first-meaningful-paint

Something went wrong with recording the trace over your page load. Please run Lighthouse ag

[2018-03-29 10:10] jooj123 opened #167 "Cant seem to get auto google sheets upload to work"
Pretty sure this is a bug

In the google sheets setup here:
https://github.com/paulirish/pwmetrics#defining-submit

It says "Take a client_secret and put it into the config as value of clientSecret property." - not sure what this means exactly.
I have downloaded the JSON file from google sheets api setup - thats in the format:

[code]

Does it mean just grabbing this object and putting it into `pw

[2018-03-30 19:26] denar90 commented on #157
fixed in #161

[2018-03-30 19:26] #157 closed

[2018-03-31 21:18] denar90 opened #168 "Add more recipes"
- with config for Google OAuth for `submit` option #167
- when user wants to test several URLs, [read more](https://twitter.com/iamjoona/status/978714261055733762)

[2018-04-04 03:44] jooj123 commented on #166
Updating doesnt seem to make a difference - i still get these messages

[2018-04-04 06:55] denar90 commented on #167
Hi. Looks like you generated wrong client secret.
Format of secret key has to be like this https://github.com/paulirish/pwmetrics/blob/v3.2.0/types/types.ts#L90

Yes it is)

Here's format of mine
[code]

[2018-04-04 11:25] jooj123 commented on #167
@denar90 this format works

Seems its not clear from the docs so thats where the confusion lies - Ill throw up a PR

[2018-04-04 11:29] denar90 commented on #167
Cool 👍  I'd like to merge your PR ;)

[2018-04-04 11:43] jooj123 commented on #167
https://github.com/paulirish/pwmetrics/pull/169

[2018-04-04 19:42] #167 closed

[2018-04-05 12:58] jooj123 opened #173 "Question about google sheets / drive integration"
Is there a way to automate the sheets / drive integration through CI without manual intervention?

Seems that at the moment you need to manually enter an oauth code to authorise - not sure if there is a way to automate that part (maybe with puppeteer?)

If there isn't a way to do this currently and you have suggestions on how it could be done - im willing to give it a go in my spare time 👍

I idea

[2018-04-06 06:24] jooj123 commented on #166
I have noticed this goes away if I use the `--json` output flag.

Seems that wunderbar is causing issues (i missed the last bit of errors in original post):
" TypeError: Unexpected options.max: null. Expected number
14:54:33 [tests]     at normalizeOptions "

[code]

[2018-04-06 06:40] gribnoysup commented on #166
@jooj123 Can you share the output that you get with `json` flag? I assume there is `timing` missing for some metric

[2018-04-06 08:03] jooj123 commented on #166
Maybe the timing was missing - but if thats the case it should still be graceful about that and not fail with errors like: `TypeError: Unexpected options.max: null` which dont make alot of sense to devs

Its hard for me to reproduce it now, ill try again later (its a transient issue - possibly some sort of bug with lighthouse as to why it fails to generate metrics I guess)

[2018-04-06 09:15] jooj123 opened #175 "wunderbar fails with "TypeError: Unexpected options.max: null. Expected number""
### Steps to reproduce.

~This happens when pwmetrics / lighthouse fails to generate any timings~ (nope, happens even when you have timings with my website).
This happens alot with my website but seems to be fine with other websites (ill keep trying to figure out reproduce steps..)

### Stack trace

[code]

### Environment
1. `pwmetrics` version: 3.2.1
2. Chrome version: 64
3. OS version: node:8.9

[2018-04-13 18:57] jeremyfrank commented on #175
Same result for me running `pwmetrics https://airhorner.com/` in Node 8.11.1 with Lighthouse 2.9.4 and Chrome 65. Oddly, when I run the same command with the `--json` flag, it completes successfully.

[2018-04-14 15:11] jooj123 commented on #175
Yep i found this as well @jeremyfrank - im not convinced its due to no timings being sent to `wunderbar` (ill change the description) - we are stuck with the plain JSON output in CI for the time being until this is fixed (ideally we should have nice charts in CI)

[2018-04-15 09:27] gribnoysup commented on #175
@jeremyfrank @jooj123 running PWMetrics on airhorner always produces result with a missing FCP metric for me. Do you have a reproduction scenario where the timings are NOT missing and the chart drawing fails?

[2018-04-15 10:33] gribnoysup commented on #175
I created a PR that should fix the issue when some metrics are not recorded by Lighthouse

As for the case where all the metrics are recorded but chart still fails to print, I still can't reproduce it, sorry 😿

[2018-04-15 19:09] jeremyfrank commented on #175
No, I wasn't able to reproduce the same error with the other sites I tested. Strange that I only saw it happen with the airhorner site.

[2018-05-05 13:45] rsudarson commented on #150
Any update on this issue.

[2018-05-09 21:37] jbelew commented on #150
Commands aren't documented well, but use the following flags in the config file --

        disableDeviceEmulation: true
        disableNetworkThrottling: true
        disableCpuThrottling: true

Trying to decipher how to set cookies now.

[2018-05-15 08:21] lili21 opened #177 "output trace.json locally ?"

[2018-06-07 19:33] donaldpipowitch commented on #155
I hit the same error by using this:

[code]

[code]

[2018-06-11 06:17] donaldpipowitch commented on #155
Yes.

[code]

Same error.

[code]

As far as I can tell, yes. It points to a valid path and the files exist.

Same result.

---

Note: I tried this with the Windows Subshell for Linux (WSL).

[2018-06-13 08:32] earnedmarketing opened #179 "Error: connect ECONNREFUSED 127.0.0.1:9222"
### Config / CLI options
Vanilla CLI and node executions

### Steps to reproduce.
1. Launch a clean Ubuntu droplet with Digital Ocean
2. Install latest Node LTS, pwmetrics, chromium
3. Try using the official examples of launching pwmetrics via CLI or Chrome

(you get an unintelligible error which seems to be because your default settings for the CLI and the node execution are missing --no-sandbox

[2018-06-22 01:17] gsemfield opened #180 "Feature Request: Also capture audit category scores and add them to google sheets"
The existing metrics are great. Could it be possible to capture of the following audit category score results in addition to the existing captured metrics. Could these new scores also be sent to google sheets in the same way when using the submit option?
"id": "performance"
"id": "pwa"
"id": "accessibility"
"id": "Best-Practices"
"id": "seo"

[2018-06-22 15:13] tshen8 opened #181 "Expectation errors should be based on median run values"
When performing multiple runs on a page with expectation set, the entire testing process will fail if _any_ one of the runs exceeds any expectation value.

If the purpose of doing multiple runs is to gather several data points for performance metrics in order to rule out outliers and unrepresentative numbers, I think it makes sense that the pass/fail should be based on the median numbers for the r

[2018-06-28 00:54] Hoten opened #182 "disable ANSI escape codes if not tty"
Would be nice if running pwmetrics in a non-tty environment suppressed ANSI code output.

Otherwise, output looks like:

[code]

[2018-07-03 08:30] #175 closed

[2018-07-06 06:04] santoshjoseph99 opened #183 "Using node api and passing extra headers to chrome does not work"
### Config / CLI options
Using node api

### Steps to reproduce.
I had the following code and it does not set the cookie.

I'm trying to use the `--extra-headers` from the node api and it doesn't seem to work:
[code]

output from node program (prints out headers):
[code]

Is this a known problem or I'm just not using the options correctly?

### Stack trace

### Screenshot

### Environment
1. `pwme

[2018-07-06 06:11] rsudarson commented on #150
disableStorageReset:True might help.  @jbelew Is that correct?

[2018-07-09 04:04] santoshjoseph99 commented on #183
Needed to use the field `extraHeaders`

[2018-07-09 04:04] #183 closed

[2018-08-01 04:41] santoshjoseph99 opened #184 "Hide console output"
When using the API, I think it would be good idea not to output anything to the console, since you get that data from the `start` call.
Seems pretty simple, just pass a flag into the `options` object to silence the `console.log`'s.
I can get this done if needed.

output when using API:
<img width="751" alt="screen shot 2018-07-31 at 9 29 40 pm" src="https://user-images.githubusercontent.com/461049

[2018-08-13 20:38] denar90 commented on #184
I think we can use flag her, aka `showLaunchingResults` which might be true by default. wdyt?

[2018-08-13 20:39] denar90 commented on #182
Hope migrating to https://github.com/chalk/chalk can solve this problem.

[2018-08-13 20:40] denar90 commented on #181
should be fixed via #178

[2018-08-13 20:41] denar90 commented on #180
Sorry, by we just relay on metrics not any other LH scores...

[2018-08-13 20:41] #180 closed

[2018-08-13 20:44] denar90 commented on #177
should be added like one new option. @lili21 are you interested sending PR?

[2018-08-13 20:45] denar90 commented on #173
I see one option here - having different configs with keys...

[2018-08-13 20:48] denar90 commented on #155
have you tried --no-sandbox flag?

[2018-08-14 03:11] donaldpipowitch commented on #155
Sorry, I can't remember and don't work on Windows anymore :/

[2018-08-14 07:40] denar90 commented on #155
Sorry for the delay.
Closing this one.

[2018-08-15 03:01] barreirabruno commented on #155
Hey guys, I get the same issue here =/

[2018-08-15 17:28] santoshjoseph99 commented on #184
sounds good. I'll submit a PR.

[2018-08-15 20:42] denar90 commented on #155
Hi @barreirabruno, have you tried any of advice?

[2018-08-16 22:00] barreirabruno commented on #155
Hey @denar90 it wasn't a Docker error.
My .env variables were not imported properly.
Now its working.

[2018-08-17 11:01] 4idlm commented on #179
{ Error: connect ECONNREFUSED 127.0.0.1:9222
    at TCPConnectWrap.afterConnect [as oncomplete] (net.js:1173:14)
  errno: 'ECONNREFUSED',
  code: 'ECONNREFUSED',
  syscall: 'connect',
  address: '127.0.0.1',
  port: 9222 }

I am facing this issue ,I need help

[2018-08-21 10:30] denar90 commented on #179
@4idlm do you have the same conditions and platform as @earnedmarketing?

[2018-08-22 10:37] denar90 commented on #184
fixed via #185

[2018-08-22 10:37] #184 closed

[2018-08-27 19:37] denar90 commented on #181
Hi, @brophdawg11. Hope really soon, but need some polishing. Working on that...

[2018-08-27 22:32] denar90 commented on #179
should be fixed using `chromeFlags` - https://github.com/GoogleChrome/lighthouse/issues/2462#issuecomment-311213223

Will be added in example in #178

[2018-08-27 22:32] #179 closed

[2018-08-27 22:34] denar90 commented on #179
Example of CI run https://travis-ci.org/paulirish/pwmetrics/jobs/421316522

[2018-08-27 22:34] denar90 commented on #155
closing in favor of https://github.com/paulirish/pwmetrics/issues/179

[2018-08-27 22:34] #155 closed

[2018-08-28 05:35] 4idlm commented on #179
thanks for your help man..i was fixed that issue..

On Tue, Aug 28, 2018 at 4:04 AM Artem Denysov <notifications@github.com>
wrote:

[2018-08-28 18:31] AlahmadiQ8 opened #186 "Typo in error logging for gsheets"
Please see line https://github.com/paulirish/pwmetrics/blob/master/lib/sheets/gsheets.ts#L54

looks like it should be `logger` instead of `log`

I can create a PR for this (not sure whats the PR process like).

[2018-08-28 18:36] AlahmadiQ8 opened #187 "gsheets - Error: Unable to parse range: data!A1:C1"
I'm trying to upload to google sheets and i get the following error:

[code]
i checked https://github.com/paulirish/pwmetrics/blob/master/lib/sheets/gsheets.ts#L45 and chagned `range` to be `range: "A1:C1"` and i no longer get the error.

I checked the [API documentation](https://developers.google.com/sheets/api/reference/rest/v4/spreadsheets.values/append) and it looks like `range` should only ac

[2018-08-29 19:01] denar90 commented on #186
Indeed. I'll add this in #178

[2018-08-29 19:02] denar90 commented on #187
Do you use copy of suggested google sheets example from docs?

[2018-08-29 19:48] AlahmadiQ8 commented on #187
yes. what I did is as follow:

1 - opened [this sheet](https://docs.google.com/spreadsheets/d/14DXR9x267fOftf7sYFuUlT3djChSl6PNuPBvUD4h9Rw/edit)
2 - `cmd+a` `cmd+c`
3 - paste in a new sheet created with my account

Looking at it again, maybe i should have clicked `file => Make copy` in the original sheet instead (i just saw that option)

[2018-08-29 20:39] denar90 commented on #187
I suppose you don't have tab called `data` or something like this.

![image](https://user-images.githubusercontent.com/6231516/44814151-73e3c400-abe4-11e8-832d-88badae52518.png)

I suggest instead try to open google sheets and go `File -> Make a copy... `
It might help.

[2018-08-31 19:36] denar90 opened #188 "Extend API data returned in by pwmetrics"
After starting PWMertrics run, users are able to get data adapted and retrieved from Lighthouse.
What if users might need to process expectations vs real results?
Should we extend API with returned data included expectations mixed with real metrics values?

[2018-09-08 19:27] denar90 commented on #153
@vinhlh hi, did you have the ability to prototype the solution?

[2018-09-08 19:43] denar90 commented on #188
I've asked on [twitter](https://twitter.com/denar90_/status/1035613018179219456) and couple people were interested. Other than that I think it will be handy to handle expectation erros manyally, probably stop CI process (since we don't throw exeption if expectations failed) or do smth other.

So I propose to extend object with result data and have smth like this:

[code]

[2018-09-10 01:26] vinhlh commented on #153
Hey, sorry, I was so busy, will give a try soon

[2018-09-10 06:16] denar90 commented on #153
Nice 👍 Will be really good to have other options for submitting results :)

[2018-09-12 20:08] denar90 commented on #187
@AlahmadiQ8 can we close this one?

[2018-09-12 20:09] denar90 commented on #186
closing since #178 merged

[2018-09-12 20:09] #186 closed

[2018-09-12 20:09] denar90 commented on #181
closing since #178 merged

[2018-09-12 20:09] #181 closed

[2018-09-12 20:10] denar90 commented on #173
Closing this one...

[2018-09-12 20:10] #173 closed

[2018-09-12 20:11] denar90 commented on #165
bad idea...

[2018-09-12 20:11] #165 closed

[2018-09-12 20:12] denar90 commented on #158
We can close this one since #178 merged

[2018-09-12 20:12] #158 closed

[2018-09-12 20:14] denar90 commented on #166
@jooj123 feel free to reopen this one in case of bug reproducing)

[2018-09-12 20:14] #166 closed

[2018-09-12 20:15] denar90 commented on #164
Closing, partly done...

[2018-09-12 20:15] #164 closed

[2018-09-12 20:30] denar90 opened #189 "Error TypeError: Cannot read property 'timings' of undefined"
### Config / CLI options
`pwmetrics https://www.theverge.com/ --runs=3`

### Stack trace

[code]

Reproduces sometimes...

### Environment
1. `pwmetrics` version: v3.4.0 candidate
2. Chrome version: 69

[2018-09-12 21:28] #189 closed

[2018-09-14 17:18] AlahmadiQ8 commented on #187
My apologies. Yes issue indeed was fixed! Thank you for checking on this

[2018-10-05 09:00] GuillaumeAmat opened #193 "Exit code is always 0"
Is it me or the exit code is always `0`, no matter success or failure of the expectations?

### Config / CLI options

[code]

### Steps to reproduce.

`yarn pwmetrics --config pwmetrics.config.json https://ddg.gg`

### Output

[code]

It says that there is some errors, but the exit code `0`, not `1`.

### Environment
1. `pwmetrics` version: 4.0.1
2. Chrome version: Google Chrome 71.0.3559.6 dev
3.

[2018-10-12 19:44] #193 closed

[2018-10-31 18:38] safm opened #196 "Accept JSON object as value for config arguement"
It would be nice if we can pass the config object directly from command line instead of a file.

[code]

[2019-01-10 14:06] denar90 opened #199 "Improve data collection"
![image](https://user-images.githubusercontent.com/6231516/50973359-5f4bfc80-14f1-11e9-917c-8b3936c8c14d.png)

Sometimes we can get abnormal values for one set of e.g. 10 runs.

I think we can help users to handle this case automatically. So if for set of values we find some abnoraml values we will just replace it with median value instead. So graphics will look a bit better.
But it should be in c

[2019-01-13 21:35] mbejda commented on #162
It maybe related to this issue.
https://github.com/GoogleChrome/lighthouse/issues/4596

[2019-01-18 03:06] jooj123 opened #200 "TypeError: Cannot read property 'timings' of undefined"
### Config / CLI options / Steps to reproduce.

Have config:

[code]

### Stack trace

yarn run v1.10.1
$ pwmetrics --config=test/performance/pwmetrics-config.js
Launching Chrome

                        │
            Speed Index │██████████████████████████████████████████████▊ 13,234
                        │
    Time to Interactive │███████████████████████████████████████████████████████████████

[2019-01-18 03:08] jooj123 commented on #200
Note: I know this is previously logged - but it says its fixed when its not

[2019-01-18 03:12] jooj123 commented on #200
Also (not sure its part of same issue) it doesnt matter what `warn` or `error` values I put into expectations - it doesnt warn or error anymore with this latest version

[2019-01-21 22:24] timstallmann opened #201 "Add ability to upload median values only to sheets?"
Hi!

This would seem to be a natural follow-up to #181. I'd love to see a config file value like `sheets.options.reportMedianOnly` which would only upload the median value for each metric across that batch of runs.

I'd be down to poke in the code and try to work on a PR, if folks feel like that's a worthwhile feature?

[2019-01-22 09:12] denar90 commented on #201
Hi. Looks like it's also related to #199. I'll be more than happy to have this feature.

PR's are always welcome 😄

[2019-01-28 07:54] denar90 commented on #201
thx, published with v4.2.0 release

[2019-01-28 07:54] #201 closed

[2019-01-28 15:23] denar90 opened #205 "Add zero expectations config"
It'll be nice to have zero expectations config, just run
`pwmetrics https://example.com --expecations` and that's it.

We just have to define best boundaries for error and warning values.

cc @paulirish

[2019-02-05 22:51] artivilla opened #206 "Question: print only median results in output path"
This might already exist but I couldn't decipher from the README. Is there a way to limit printing **only** the median results in my output path?

Also, generally how many runs are considered accurate enough? 10, 100? Any info could be helpful for new lighthouse devs.

[2019-02-07 11:59] #200 closed

[2019-02-07 12:03] denar90 commented on #200
Error is fixed in v4.2.1.
Regarding `warn` or `error`. Do you wanna pwmetrics throw it or just write in console?

`error` I got running example from recipe

[code]

[2019-02-07 15:15] artivilla commented on #150
@jbelew @santoshjoseph99 were you able to set your cookies for auth pages and get that to work??

Set up my config something like this but it routes to login:
[code]

[2019-02-16 22:01] denar90 commented on #206
Looks like an issue.

I'd say from 3 to 5 runs :) Personally, I use 3)

[2019-02-26 17:56] chrisrink commented on #150
I had a similar issue with trying to login and use an http only cookie. I had a puppeteer script to login first.  The trick is that you need to set the `flags.disabledStorageReset: true` and you need to set the flags.port to the same port that you used for puppeteer.  So if you are trying to reuse your session, try doing something like that.

[2019-02-27 16:49] artivilla commented on #150
@chrisrink then I don't require having to set cookies through the params. Isn't this a bug then?

[2019-02-28 00:15] chrisrink opened #208 "Feature Request: Custom Audit Support"
Feature Request: An configuration property to use a custom configuration that uses custom gatherers and audits per:

https://github.com/GoogleChrome/lighthouse/tree/304bbec53213ef0e8f027155d01ab2fd27b33135/docs/recipes/custom-audit

Probably need to add an option for `configPath` and then update `pwmetrics/lib/metrics/metrics-adapter.ts` to pass the custom metrics through.

I know this is a varian

[2019-02-28 08:20] denar90 commented on #208
@chrisrink are you interested in opening PR? I'll be more than happy to have it)

[2019-04-08 01:48] avishnyakov commented on #153
While it's a good idea, it couples pwmetrics with external services. Does not sounds good, does it?

Mainly, I refer to feature creep and coupling.

For example,  pwmetrics can be used with AppInsights as a buffer for data. Wrapped a docker container, a custom entrypoint with bash/powershell which runs pwmetrics passing command arguments, and then invokes a tiny script to post-process data and pus

[2019-04-08 01:58] avishnyakov opened #209 "Any verbose/debug options?"
Hi team,

I might be overlooking but can't find debug/verbose options or execution logs. Having silent failures under various docker container based runs as following.

Best bet  so far - corporate proxy or ssl cert validation failure. Would be nice to confirm this with actual logs.

If you could point to the right troubleshooting direction, that would be wonderful.

[code]

### Config / CLI optio

[2019-04-08 04:18] avishnyakov commented on #209
All good, internal proxies / settings. Closing this.

Generally, chromeFlags helps a bit but it might be still a good idea to craft a page on troubleshooting experience.

[2019-04-08 04:18] #209 closed

[2019-04-25 16:23] kjackey1 opened #210 "Feature Request: Percentiles"
Given the variability in results from a n-samples run, would it be possible to specify a percentile sample instead of median (since intrinsically median can be skewed by an abundance of high / low sample counts).

Use case would be:
1) User defines key metric for percentile analysis and desired percentile (Ex: 80% TTI)
2) Run N samples (preferably 10 or more)
3) Program determines the specified pe

[2019-06-07 20:40] denar90 opened #211 "Lighthouse v5 migration"
Todo:
- update to Lighthouse v5
- use Lighthouse perf budget instead of custom expectations (aka budget)
- deprecate custom expectations

Feel free to add more items here.

[2019-06-07 20:44] denar90 commented on #210
Sorry for the delay.
Sounds good, but it requires enhancement for the config we already have and some rework on median calculation. We are not breaking anything here so I'm more than ok with it.

Are you interested in adding this one via PR?

[2019-06-07 20:47] denar90 commented on #211
A possible topic for the discussion - adding FID value to the chart. But it's in ms so how informative will it be? Should it be marked green/orange/red in case it's fast/average/slow.

[2019-06-07 20:51] denar90 opened #212 "Add measure RUM flag"
Since we have an awesome [lighthouse-plugin-field-performance](https://github.com/treosh/lighthouse-plugin-field-performance) for measuring RUM, it will be good to have a flag `field/rum/whatever` which will run url against it and provide real user perf metrics.

Blocked by #211

[2019-08-01 18:09] carlesnunez opened #213 "Metrics so different between CLI's"
Hello everyone!

This is more a question than a problem. I've been running tests on same page, same environment, same network with pwmetrics, audits and lighthouse-cli and pwmetrics give me values on TTI or FCPUIdle 3-4 s under the values that audits or lighthouse-cli give.

Why is this happening? I've checked and the webpage works well the route is being loaded everything is the same.

Thank you

[2019-08-02 07:42] andresz1 commented on #213
Could this be related with this [issue](https://github.com/paulirish/pwmetrics/issues/211) ?

[2019-08-02 19:36] denar90 commented on #213
@carlesnunez what version of Lighthouse did you use?

[2019-08-05 07:58] denar90 opened #215 "Publishing PWMetrics in GitHub Package Registry"
Currently, we are able to publish PWMetrics in the scope of GitHub Package Registry, I'd like to hear from folks if everyone is ok with that.

cc @paulirish @pedro93

P.S. I can do operation work.

[2019-08-06 15:30] pedro93 commented on #215
Hey @denar90 sorry for the late reply, fine by me.
Since I haven't been able to contribute/maintain this repo feel free to proceed as you see fit, I trust you to good care of pwmetrics :)

[2019-08-06 17:30] paulirish commented on #215
sgtm

[2019-08-10 20:54] denar90 commented on #215
I found interesting note in docs:

https://help.github.com/en/articles/configuring-npm-for-use-with-github-package-registry#authenticating-to-github-package-registry

[2019-08-10 21:02] denar90 commented on #213
I've published a new version included the latest Lighthouse, believe it should be fixed. Feel free to reopen it in case of a problem is still present.

[2019-08-10 21:02] #213 closed

[2019-08-29 10:41] jeffbcross opened #217 "Feature Request: Upload Comments to Google Sheets"
Suppose I'm running pwmetrics in a post-merge CI job to track my app's performance over time. I'd like to associate each row of data with the git commit of the code being tested, so I can pinpoint where a regression (or improvement) was introduced.

If I could have an additional option in the `sheets` options for a `comments` field that would accept a string or function, I could accomplish this as

[2019-09-03 20:28] denar90 commented on #217
Hi @jeffbcross, comments feature sounds cool. Great idea 👍

[2019-09-10 16:47] brophdawg11 opened #218 "Feature Request: Support alternative median metric or logic"
Would this package be open to alternative calculations of the "median" run?  Currently, it chooses the run with the median `TTFCPUIDLE` value, but that may not necessarily be the median `SI` or `TTI` value either.  Depending on which value the consumer is most concerned with testing, I could see misleading results by always basing the median run off `TTFCPUIDLE`.

I'm wondering if it would be help

[2019-09-10 17:55] brophdawg11 commented on #218
I took a stab at implementing this in https://github.com/paulirish/pwmetrics/pull/219.  Haven't looked into unit tests yet but will if this is an acceptable approach

[2019-09-15 13:35] vvscode opened #220 "Update `googleapis` dependency"
### Steps to reproduce.
`yarn audit`
### Stack trace
[code]

### Environment
1. `pwmetrics` version: `4.2.2`

[2019-09-20 14:53] andresargos opened #221 "Feature Request: Add additional metrics"
Are you considering on adding additional metrics, like Time to First Byte, or is there a way I can add additional metrics on my own?

[2019-11-12 13:25] rubyzhao opened #223 "Error while trying to retrieve access token, ENOENT: no such file or directory, mkdir '\Users\my\.credentials\'"
### Config / CLI options
pwmetrics --config=pwmetrics-config.js
### Errors
Error while trying to retrieve access token, ENOENT: no such file or directory, mkdir '\Users\my\.credentials\'

Error while trying to retrieve access token, invalid_grant at GoogleOauth.getNewToken
### Solution
After digging out in google-oauth.js, change the line as below:
[code]
Reason:
tokenDir in the original line is e

[2019-11-12 19:22] rubyzhao opened #224 "How to export additional metrics from lighthouse?"
### Need additional metrics from lighthouse
Currently only 4 metrics are exported to Google Sheet:.
1. First Contentful Paint
2. First Meaningful Paint
3. Speed Index
4. Time to Interactive

There are 6 metrics from Audits of DevTools:
![image](https://user-images.githubusercontent.com/12829001/68702364-c0bd7b80-0599-11ea-81ee-234964aef302.png)

At least export additional two:
1. First CPU Idle
2.

[2019-12-05 16:00] hummal commented on #211
New metrics available that should be added. Last Contentful Paint and Total Blocking Time is really important

[2020-01-20 12:10] JonnyVaine commented on #220
I can't add anything to this, other than trying to force a response to this. Facing the same issue in npm. Please update!

[2020-01-20 16:31] vvscode commented on #220
@denar90  @paulirish

[2020-01-20 20:56] denar90 commented on #220
Just released a patch.
@vvscode @JonnyVaine can you take a look if it works for you?

[2020-01-21 14:11] JonnyVaine commented on #220
@denar90 this works for me! Thanks for looking into this so quickly

[2020-01-21 14:18] denar90 commented on #220
Cool!

[2020-01-21 14:18] #220 closed

[2020-02-03 13:58] Toolo opened #226 "Error: connect ECONNREFUSED 127.0.0.1:9222"
### Config / CLI options
`pwmetrics https://example.com` is not working on a fresh `yarn global` install.

### Steps to reproduce.
[code]

### Debugging info

1. Using `lighthouse`
[code]
This command works fine and Chrome is launched.

2. Using `chrome-launcher`
[code]

Chrome is launched.

3. Calling `lighthouse` programmatically works
[code]
This prints the audit output to console.

4. Manual p

[2020-02-22 01:17] Jikodis opened #227 "No Chrome installations found"
### Config / CLI options

`pwmetrics https://example.com/`

### Steps to reproduce.

1. Fresh install in project using `npm install pwmetrics`
2. Run `pwmetrics https://example.com/`
3. See error in console output

### Stack trace

[code]

### Environment
1. `pwmetrics` version: ^4.2.3
2. Chrome version: Version 80.0.3987.116 (Official Build) (64-bit)
3. OS version: macOS Catalina 10.15.3

### Pot

[2020-03-13 19:58] timstallmann opened #228 "Google sheets API error?"
### Config / CLI options

When trying to upload results to Google Sheets, I get that the API returned an error  -- google.sheets is not a function. Is this related to maybe updates in the sheets API?

### Steps to reproduce.

### Stack trace

### Screenshot
[code]

### Environment
1. `pwmetrics` version: 4.2.3
2. Chrome version:
3. OS version:

[2020-03-17 22:02] csb324 commented on #228
I got the same error. If you go to gsheets.js and change
`const google = require('googleapis');`
to
`const { google } = require('googleapis');`

...it solves _this_ problem, but then I run into a bunch of other problems (related to OAuth and callbacks not being defined and google's various packages not interacting with each other the way they're supposed to) which may or may not even be related. S

[2020-03-18 21:56] csb324 commented on #228
Update! @timstallmann I just added a PR with the google npm package updates that solved this for me. take a look if you're still trying to get this working

[2020-03-18 22:15] timstallmann commented on #228
@csb324 :stars: :fireworks: this is the best news I've gotten all day! I think the linter is just choking on the `async` keyword in line 98 of sheets.js.

[2020-03-24 20:01] timstallmann commented on #228
Hmm I'm still getting now an `invalid grant` API response. @csb324 were you able to get this to work all the way through with an actual google sheet upload? I'm wondering if it's a problem on my end..

[2020-04-22 08:14] zelenkoff commented on #227
Any updates here? Have same issue!

[2020-04-22 08:16] zelenkoff commented on #227
Possible solution is to set path to Chrome instance directly using flag chromePath
`chromePath: "/Applications/Google Chrome Canary.app/Contents/MacOS/Google Chrome Canary"`
But hope there is better solution

[2020-05-29 22:17] mikehenrty opened #231 "Cannot specify --extra-headers CLI option, errors with "Protocol error (Network.setExtraHTTPHeaders): Invalid parameters (headers: object expected)""
### Config / CLI options

Using a JS config file, I am correctly able to specify additional request headers, like so:
[code]

But when I try to speficy these extra headers using CLI options like:
[code]
I see this error `Protocol error (Network.setExtraHTTPHeaders): Invalid parameters (headers: object expected)`

I believe the problem is here:
https://github.com/paulirish/pwmetrics/blob/f8a784fd69

[2020-05-30 03:52] mikehenrty commented on #150
I think maybe the underlying issue is that we expect `pwmetrics` to merge CLI flags with flags found in the config file. Indeed I believe that was the intention of this code:

https://github.com/paulirish/pwmetrics/blob/f8a784fd6930a1e8b79c1a00e7cd129178638edf/bin/cli.js#L86-L87

However, `Object.assign()` is not actually merging those flag objects, it's merging the top level object and so `cliFla

[2020-06-02 15:25] nathanmillar16 commented on #228
Hi @timstallmann  & @csb324 . Did this issue get resolved? I cloned the work done in @csb324 PR, recompiled the TS and  I am getting error:

`The API returned an error: Error: Unable to parse range: pwmetrics for demo!A1:C1
Error: Error: Unable to parse range: pwmetrics for demo!A1:C1
    at GSheets.appendResults` in \lib\sheets\gsheets.js\

[2020-06-02 16:05] nathanmillar16 commented on #228
I apologise. I had the wrong config

[2020-06-02 16:23] timstallmann commented on #228
Oh nice! @nathanmillar16 how did you fix your config? I'm still stuck on this error.

[2020-06-16 14:35] nathanmillar16 commented on #228
Sorry for late reply. I had the table name in my package-config incorrect. It is supposed to match a tab within the sheets you're adding too.

[2022-05-11 12:29] #218 closed